---
import Accordion from '../../components/Accordion.astro'
import Benefits from '../../components/Benefits.astro'
import Contact from '../../components/Contact.astro'
import ProjectGrid from '../../components/ProjectGrid.astro'
import ServiceHero from '../../components/ServiceHero.astro'
import Testimonials from '../../components/Testimonials.astro'
import coverImg from '../../images/breeam-in-use_cover.webp'
import SidebarLayout from '../../layouts/SidebarLayout.astro'

import { getCollection } from 'astro:content'
const allProjects = await getCollection('projects')
---

<SidebarLayout
  title='BREEAM In-Use | SALVIS — BREEAM In-Use Certification & Consulting'
  description='Discover how SALVIS can help you achieve BREEAM In-Use certification for your existing buildings. Learn about the benefits, services, and process of BREEAM In-Use with our expert consultancy.'
>
  <ServiceHero
    title='BREEAM In-Use'
    descriptions={[
      "BREEAM (Building Research Establishment's Environmental Assessment Method) is the oldest sustainable building assessment system in the world, established in 1990 in the United Kingdom. The certification system assesses buildings at all stages of their life cycle, from design and construction to operation and renovation.",
      'BREEAM In-Use is a globally recognised sustainability assessment method specifically designed for existing buildings. It provides a comprehensive framework for assessing and improving the operational sustainability of commercial properties.',
      'BREEAM In-Use assesses the environmental, social and economic performance of a building according to various criteria, helping property managers and owners to increase resource efficiency, reduce environmental impact and improve the health and well-being of occupants.',
      'By focusing on both the physical characteristics of the building (Part 1: Asset Performance) and its operational management (Part 2: Building Management Performance), BREEAM In-Use provides a detailed and comprehensive assessment that offers clear opportunities for improving sustainability performance.'
    ]}
    flavorText='A key certificate for a sustainable future that protects the planet and increases the market value of your building. With SALVIS, you can achieve a high rating without unnecessary costs — turn ecological principles into clear benefits for your business.'
    image={{
      src: coverImg,
      alt: 'Illustrative image of a building'
    }}
  />

  <Benefits
    title='Benefits'
    titleClass='display-1 fw-bold'
    descriptions={[
      'BREEAM certification represents the best know-how in the field of building sustainability, delivering significant environmental, economic and social benefits to owners, tenants and investors. Studies show that certified buildings achieve lower costs, higher productivity and a better market position, ensuring long-term value and prestige.'
    ]}
    items={[
      'Operating cost savings — Improving resource efficiency (energy, water, waste) leads to significant reductions in operating costs',
      'Increased property value — Certification demonstrates a commitment to sustainability, which increases marketability, property value and attractiveness to tenants.',
      'Regulatory compliance — Framework helps businesses meet and exceed sustainability regulations and standards',
      'Improved resident well-being — A focus on health and well-being ensures a more productive and healthy work environment',
      "Credibility and transparency — Independent third-party certification increases stakeholder confidence in a building's sustainability performance"
    ]}
  />
  <Accordion
    title='Services'
    titleClass='display-1 fw-bold'
    descriptions={[
      'As part of the BREEAM In-Use service, we provide comprehensive support throughout the certification process, including consulting services, documentation preparation, project management and the actual issuance of the certificate. Our goal is to ensure that the certification process is as smooth and efficient as possible, with an emphasis on achieving the highest possible rating at minimal cost.'
    ]}
    items={[
      {
        title: 'Initial preparation and planning',
        content: `
        <ul>
          <li>Project registration and entry of relevant data into the BREEAM In-Use online platform.</li>
          <li>Assessment of the current condition of the building based on the new BREEAM In-Use Version 6 standards.</li>
          <li>Calculation and verification of the building's expected score.</li>
          <li>Identification of low-cost, easily achievable credits.</li>
          <li>Determination of necessary improvements to achieve the desired rating.</li>
          <li>Development of a detailed action plan.</li>
          <li>Finalisation and approval of the action plan with the client.</li>
        </ul>
        `
      },
      {
        title: 'Updating guidelines, third-party studies',
        content: `
        <ul>
          <li>Implementation of new guidelines and updating of current procedures.</li>
          <li>Third-party services and studies.</li>
          <li>Collaboration on the development and implementation of these updated policies.</li>
          <li>Collecting and preparing the required documentation from various sources and subsequently uploading it to the BREEAM In-Use online system.</li>
        </ul>
        `
      },
      {
        title: 'Final audit and certification',
        content: `
        <ul>
          <li>An independent third-party auditor will review and verify all supporting documentation.</li>
          <li>A final audit, including an on-site inspection, will be carried out to confirm that the improvements are consistent with the evidence provided.</li>
          <li>A BRE report will be prepared.</li>
          <li>The auditor's feedback will be submitted via the BREEAM In-Use online system.</li>
          <li>SALVIS will manage communication with BRE during the certification process.</li>
          <li>The final certification for Part 1 and Part 2 will be delivered to the client.</li>
        </ul>
        `
      }
    ]}
  />

  <Testimonials
    descriptions={[
      'We place great importance on our relationships with our clients. For us, every project is a partnership built on trust, cooperation and a shared vision.'
    ]}
    items={[
      {
        name: 'Ondřej Doupal',
        position: 'Sustainability Manager — Eastern Europe',
        company: 'VGP',
        company_url: 'https://www.vgpparks.eu/en/',
        content: `„SALVIS is our key partner for BREEAM in Slovakia and Czechia, providing flexibility and cost savings across 13 projects.“ `
      },
      {
        name: 'Tomáš Gürtler',
        position: 'Project manager',
        company: 'Contera',
        company_url: 'https://www.contera.cz/en',
        content: `„100% satisfaction with SALVIS — they achieved Very Good with low costs and smooth communication.“`
      }
    ]}
  />

  <Accordion
    title='FAQ'
    titleClass='fw-bold'
    descriptions={[
      'An overview of answers to frequently asked questions about our company and the services we offer.'
    ]}
    emphasis={true}
    items={[
      {
        title: 'What is BREEAM In-Use?',
        content: `BREEAM In-Use is a globally recognised sustainability assessment method specifically designed for existing buildings, providing a framework for improving their operational sustainability.`
      },
      {
        title: 'What is the difference between BREEAM In-Use and other BREEAM certifications?',
        content: `BREEAM In-Use is specifically designed for existing buildings, while other BREEAM certifications focus on new construction.`
      },
      {
        title:
          'What is the difference between Part 1 (Asset Performance) and Part 2 (Building Management Performance) of the BREEAM In-Use system?',
        content:
          'BREEAM In-Use is divided into two key parts, which together provide a comprehensive assessment. A separate certificate is issued for each part. A building can obtain only one or both certificates. The level of certification may differ in both parts.'
      },
      {
        title: 'What is the focus of Part 1 (Part 1: Asset Performance)?',
        content:
          'In this part, the environmental performance characteristics of the building itself are evaluated. Key areas include building facade parameters, TZB equipment parameters and performance, lighting, sanitation, building location and structural elements that affect operational sustainability. It provides insight into how well a building is designed and equipped to minimize environmental impact.'
      },
      {
        title: 'What is the focus of Part 2 (Part 2: Building Management Performance)?',
        content:
          'Part 2 focuses on how the building is operated and managed on a day-to-day basis. It covers energy and water management, health and indoor environment measures, and overall management policy. The aim is to increase the long-term operational efficiency and sustainability of the building.'
      },
      {
        title: 'What are the main benefits of BREEAM certification?',
        content:
          'Certification brings better energy efficiency, lower operating costs, higher indoor environmental quality and environmental responsibility. It increases the prestige of the building and its market value, which can be decisive for investors and users.'
      }
    ]}
  />
  <Contact />
  <ProjectGrid projects={allProjects} variant='all' title='Projects' />
</SidebarLayout>
