---
import SidebarLayout from '@layouts/SidebarLayout.astro'
---

<SidebarLayout
  title='Page Not Found | SALVIS'
  description='Explore our services, projects, or contact SALVIS to find what you need.'
  noindex={true}
>
  <main class='container-fluid my-auto'>
    <div class='row justify-content-center'>
      <div class='col-12'>
        <div class='text-center p-4 p-md-5 bg-white'>
          <span class='badge text-bg-light p-1 mb-3 font-monospace'>404</span>
          <h1 class='display-5 fw-bold my-2'>Page not found</h1>
          <p class='lead text-muted mb-4'>
            The page you’re looking for doesn’t exist or has moved.
          </p>
        </div>
      </div>
    </div>
  </main>
</SidebarLayout>
