---
import ServiceHero from '../components/ServiceHero.astro'
import coverImg from '../images/leed_om_cover.webp'
import SidebarLayout from '../layouts/SidebarLayout.astro'
---

<SidebarLayout>
  <ServiceHero
    title='Differences between BREEAM and LEED'
    descriptions={[
      'Both systems have their advantages; they are mature, well-established, and recognized. If a client has no preference and asks us to guide them, we steer them toward LEED in the case of administrative buildings that are not designed for a specific client. For residential and industrial buildings, as well as buildings that the investor is constructing for a known user, we tend to recommend BREEAM.',
      'LEED is well suited to office buildings where the tenant is not known (Core and Shell). It is the better choice for this segment. LEED is associated with less time commitment on the part of the investor. It is clear and straightforward. It focuses on the result rather than the process. It provides a better level of customer support.',
      'BREEAM has the advantage of being highly adaptable to industrial and residential projects. It provides more tools for building design and construction when the needs and use of the building are known in advance. It pays close attention to detail. It is good to start the certification process early, ideally at the architectural study stage.'
    ]}
    flavorText=''
    image={{
      src: coverImg,
      alt: 'Illustrative image of a building'
    }}
  />
  <div class='row justify-content-md-between py-3 py-md-5'>
    <h2 class='fw-bold'>BREEAM</h2>
    <div class='col-md-5'>
      <ul>
        <li>
          BREEAM is the most comprehensive collection of know-how in the field of sustainable
          buildings. The creators think of everything. If someone is designing and constructing a
          building for their own use and plans to use it for a long time, or wants to assess the
          building's impact on the environment from all angles, then BREEAM has the advantage.
        </li>
        <li>The method of documenting compliance with the requirements is thorough and strict.</li>
        <li>
          Pre-certification is included in the basic fees. However, it is most often possible to
          obtain it only on the basis of an construction documentation or during construction. Not
          sooner. The process can take several months.
        </li>
        <li>
          A very low percentage of buildings achieve the highest level, OUTSTANDING. To achieve
          this, it may be necessary to implement measures that do not make economic sense or have a
          minimal impact on sustainability. Without them, however, the project would not achieve the
          required percentage. However, if a building achieves the OUTSTANDING level, it gains
          exceptional prestige.
        </li>
      </ul>
    </div>
    <div class='col-md-6 ps-md-0'>
      <ul>
        <li>
          If certification becomes a goal later on, in the case of BREEAM this may mean the loss of
          some credits, which are conditional on starting early, or at the prescribed stage of the
          project.
        </li>
        <li>
          BREEAM adapts its criteria to the country in which the building is located. In countries
          where there is a shortage of drinking water, for example, the weighting of the "Water"
          category will be increased.
        </li>
        <li>
          Where BREEAM considers it necessary to protect and enhance local biotopes, it will
          increase the weighting of the "Land Use and Ecology" category, etc. From a sustainability
          perspective, this is a sensible step.
        </li>
        <li>
          Within European countries, the differences in ratings are not very significant. However,
          along with adaptation to local standards, especially those dealing with the energy
          efficiency of buildings, there is an effect whereby the same or similar buildings
          constructed in different countries may receive different ratings.
        </li>
        <li>The certification system is very extensive and complex.</li>
        <li>
          The fees charged by the third party issuing the certificate, BRE, are lower. They are less
          dependent on the size of the buildings. BREEAM may be cheaper for large-scale buildings.
        </li>
      </ul>
    </div>
  </div>

  <div class='row justify-content-md-between py-3 py-md-5'>
    <h2 class='fw-bold'>LEED</h2>

    <div class='col-md-5'>
      <ul>
        <li>
          Investment funds from the US are familiar with and prefer LEED. This has also been
          confirmed to us by major development companies in Slovakia, which have negotiated the
          terms of sale of certified real estate with American investment funds.
        </li>
        <li>
          LEED places the same requirements on buildings regardless of their geographical location.
          Buildings with the same achieved level are therefore comparable with each other. This is
          advantageous for investment funds. They can be sure that a Gold or Platinum building in
          our country had to meet the same requirements as a building in the US, China, or anywhere
          else in the world.
        </li>
        <li>
          LEED defines its requirements very clearly, directly, and comprehensibly. The same
          documentation is required for each certification. The process is smooth.
        </li>
        <li>
          In the LEED system, it is possible to obtain a pre-certificate very early on. This can be
          done based on documentation from the architectural study. The process takes approximately
          10 weeks. The pre-certificate obtained early on can be used in negotiations with banks
          about financing, in communication with the media, and with potential tenants. A
          pre-certificate makes a better impression than a statement about targeting and the likely
          achievement of a given level.
        </li>
      </ul>
    </div>

    <div class='col-md-6 ps-md-0'>
      <ul>
        <li>
          If certification becomes a goal later on in the designing process, this is not a major
          obstacle in the case of LEED.
        </li>
        <li>
          The Gold level is required for newly constructed office buildings in the capital as a
          minimum. The challenge lies in achieving the Platinum level. This level can be achieved by
          10-15% of office buildings in our region that are aiming to obtain LEED certification.
          However, the key factor is the location of the project in an area with a high density of
          residential development, civic amenities, and public transport accessibility. Without
          these conditions, achieving Platinum becomes difficult. Buildings constructed on
          greenfield sites also find themselves in a difficult position.
        </li>
        <li>
          LEED has fewer categories and fewer requirements. It almost completely lacks requirements
          relating to the construction site.
        </li>
        <li>
          The system is used almost exclusively in the field of office buildings. It is tailor-made
          for these projects.
        </li>
        <li>
          USGBC and GBCI, the organizations that develop the system and issue the certificate, are
          strongly focused on customer service and user-friendliness. They are accommodating. They
          have even won an award for customer service in the US.
        </li>
        <li>
          LEED certification fees paid to a third party, USGBC, vary significantly depending on the
          size of the building. LEED can be more expensive for very large buildings.
        </li>
      </ul>
    </div>
  </div>

  <div class='row justify-content-md-between py-3 py-md-5'>
    <h2 class='fw-bold'>Common requirements of both systems</h2>
    <div class='col-md-5'>
      <ul>
        <li>project management in accordance with the principles of integrative design</li>
        <li>
          emphasis on selecting building sites outside protected and sensitive areas, in densely
          built-up parts of the city with civic amenities
        </li>
        <li>accessibility by public transport</li>
        <li>support for cycling and alternative modes of transport (electromobility)</li>
        <li>reduction in the number of parking spaces</li>
        <li>prevention of sedimentation and erosion</li>
        <li>preservation of original vegetation, protection of ecologically valuable elements</li>
        <li>maximization of open spaces and greenery</li>
        <li>retention and infiltration of rainwater</li>
        <li>prevention of light pollution</li>
        <li>provision of guidance for tenants on sustainable use of the building</li>
        <li>minimization of water for vegetation irrigation</li>
        <li>minimization of drinking water consumption</li>
        <li>measurement of drinking water consumption</li>
      </ul>
    </div>

    <div class='col-md-6 ps-md-0'>
      <ul>
        <li>extended commissioning of the building</li>
        <li>energy efficiency</li>
        <li>
          measurement of consumption at individual consumption points and measurement of consumption
          in rentable units
        </li>
        <li>use of renewable energy sources</li>
        <li>collection and storage of recyclable materials</li>
        <li>minimization of construction waste</li>
        <li>LCA (life cycle assessment)</li>
        <li>EPD (environmental product declarations)</li>
        <li>adequate fresh air supply</li>
        <li>protection against cigarette smoke</li>
        <li>protection of HVAC distribution systems</li>
        <li>ensuring low VOC content in indoor areas</li>
        <li>daylighting</li>
        <li>views</li>
        <li>thermal comfort</li>
        <li>acoustics</li>
        <li>
          impact of raw material extraction and building material production on the environment
        </li>
        <li>impact of refrigerants on the environment</li>
      </ul>
    </div>
  </div>

  <div class='row justify-content-md-between py-3 py-md-5'>
    <h2 class='fw-bold'>Requirements exclusively for the BREEAM system</h2>
    <div class='col-md-5'>
      <ul>
        <li>detailed construction management</li>
        <li>LCC (life cycle cost) analysis</li>
        <li>
          detailed requirements for equipment and site management (first aid kits, cleanliness,
          several dozen requirements)
        </li>
        <li>EMS (environmental management system)</li>
        <li>measurement of energy and water consumption on the construction site</li>
        <li>satisfaction questionnaires after commissioning</li>
        <li>lighting zoning</li>
        <li>outdoor lighting parameters</li>
        <li>natural ventilation</li>
        <li>parameters for sidewalks, roads, pedestrian crossings, bike paths, etc.</li>
        <li>natural hazards</li>
      </ul>
    </div>
    <div class='col-md-6 ps-md-0'>
      <ul>
        <li>Legionella prevention</li>
        <li>elevator parameters</li>
        <li>drinking water leak detection</li>
        <li>means of protecting sensitive parts of the building</li>
        <li>legally harvested wood</li>
        <li>
          building materials from factories with EMS (environmental management system) certification
        </li>
        <li>efficient use of raw materials and minimization of virgin raw material use</li>
        <li>adaptation to climate change</li>
        <li>adaptability of the building to other types of use</li>
        <li>long-term support for ecology</li>
        <li>NOx emissions</li>
      </ul>
    </div>
  </div>
  <div class='row justify-content-md-between py-3 py-md-5'>
    <h2 class='fw-bold'>Requirements exclusively for the LEED system</h2>
    <div class='col-md-5'>
      <ul>
        <li>maximize underground parking</li>
        <li>reduction of the heat island effect</li>
        <li>flexible demand</li>
        <li>locations of raw material extraction and building material production</li>
        <li>impact of materials on human health</li>
        <li>design of cooling towers to minimize their consumption of drinking water</li>
        <li>
          restriction of smoking — smoking is not permitted in the building & smoking is not
          permitted in the vicinity of the building within 8 meters of the open parts of the facade
          and air intake vents
        </li>
      </ul>
    </div>
  </div>
</SidebarLayout>
