---
import SidebarLayout from '../layouts/SidebarLayout.astro';
import ServiceHero from '../components/ServiceHero.astro';
import Benefits from '../components/Benefits.astro';
import Contact from '../components/Contact.astro';
import References from '../components/Projects.astro';
import ServiceProjectsHighlights from '../components/ServiceProjectsHighlights.astro';
import Accordion from '../components/Accordion.astro';
import Testimonials from '../components/Testimonials.astro';
import coverImg from '../images/breeam_cover-scaled-600x600.jpg';
import refHighlightImg1 from '../images/WESTEND-GATE-1024x683.webp';
import refHighlightImg2 from '../images/campus_leaf-1024x675.webp';
import refHighlightImg3 from '../images/lakeside_park-1024x683.webp';
import refHighlightImg4 from '../images/nove_apollo-1024x767.webp';
---

<SidebarLayout>
  <ServiceHero
    title='BREEAM'
    descriptions={[
      'BREEAM vznikol v roku 1990 a je to najstarší a svetovo najrozšírenejší certifikačný systém v oblasti udržateľnosti budov. Registráciou Vašej budovy v BREEAM získavate prístup k najpokročilejšiemu know-how.',
      'SALVIS poskytuje certifikáciu BREEAM, vrátane všetkých simulácií a doplnkových štúdií.',
      'Proces certifikácie riadime tak aby bol plynulý, aby bol certifikát získaný načas a v požadovanej úrovni.'
    ]}
    flavorText='V SALVIS sme držiteľmi akreditácií BREEAM International Assessor, BREEAM AP a BREEAM In Use Assessor. SALVIS je tiež akreditovaným členom organizácie BRE (Building Research Establishment).'
    image={{
      src: coverImg,
      alt: 'Ilustračný obrázok budovy'
    }}
  />

  <Benefits
    title='Výhody'
    descriptions={['BREEAM poskytuje skvelý návod ako postaviť udržateľnú, zdravú a efektívnu budovu. So skúseným konzultantom Vašej budove prinesie zvýšenú hodnotu a prestíž.']}
    items={['BREEAM poskytuje najdokonalejšie know-how v oblasti udržateľnosti budov', 'Systém s najdlhšou tradíciou na svete. Poskytuje renomé a prestíž', 'Predcertifikát, ktorý je možné získať pred dokončením budovy je zahrnutý v cene', 'Vhodný pre kancelárske, rezidenčné aj priemyselné budovy']}
  />
  <Accordion
    title='Ponúkame'
    descriptions={[
      'Certifikát BREEAM môže získať novostavba, existujúca budova, interiér (priestory firmy), mestská štvrť alebo celé mesto.',
      `Poskytujeme nasledovné druhy BREEAM certifikácie:<br>
      <ul class="">
      <li> BREEAM International NC 2016</li>
      <li> BREEAM In-Use</li>
      <li> BREEAM RFO</li>
      <li> BREEAM Communities</li>
      </ul>`
    ]}
    items={[
      {
        title: 'Analýza a stratégia',
        content: `
        <ul>
            <li>Zber informácii o projekte</li>
            <li>Posúdenie možností certifikácie</li>
            <li>Posúdenie nákladov a opatrení</li>
            <li>Stanovenie cieľovej úrovne</li>
            <li>Vedenie projektu prostredníctvom princípov integratívneho dizajnu </li>
        </ul>
        `
      },
      {
        title: 'Registrácia a návrh riešení',
        content: `
        <ul>
            <li>Registrácia projektu v BREEAM</li>
            <li>Odborné štúdie</li>
            <li>Zadanie pre projektový tím</li>
        </ul>
        `
      },
      {
        title: 'Predcertifikácia',
        content: `
      <ul>
        <li>Odoslanie žiadosti</li>
        <li>Komunikácia s certifikačnou autoritou</li>
        <li>Vydanie predcertifikátu</li>
      </ul>`
      },
      {
        title: 'Realizácia a monitoring',
        content: `
      <ul>
        <li>Kontrola dodržiavania BREEAM požiadaviek počas výstavby</li>
        <li>Kontrola opatrení</li>
      </ul>
      `
      },
      {
        title: 'Certifikácia',
        content: `
      <ul>
        <li>Odoslanie žiadosti</li>
        <li>Komunikácia s certifikačnou autoritou</li>
        <li>Vydanie certifikátu</li>
        </ul>
      `
      }
    ]}
  />
  <ServiceProjectsHighlights
    descriptions={['Kompletný zoznam projektov je k dispozícii v sekcii nižšie.']}
    items={[
      {
        title: 'Westend Gate',
        alt: 'Westend Gate',
        src: refHighlightImg1
      },
      {
        title: 'Campus Leaf',
        alt: 'Campus Leaf',
        src: refHighlightImg2
      },
      {
        title: 'Lakeside Park',
        alt: 'Lakeside Park',
        src: refHighlightImg3
      },
      {
        title: 'Nové Apollo',
        alt: 'Nové Apollo',
        src: refHighlightImg4
      }
    ]}
  />
  <Testimonials
    descriptions={['Na vzťahoch s našimi klientmi si mimoriadne zakladáme. Každý projekt je pre nás partnerstvom postaveným na dôvere, spolupráci a spoločnej vízii.']}
    items={[
      {
        name: 'Ondřej Doupal',
        position: 'Sustainability Manager — Eastern Europe, VGP',
        content: `
            „SALVIS jsme jako BREEAM asesora vybrali na základě dosavadní, krátké a pozitivní zkušenosti pro spoustu našich nadcházejících projektů. Původně dodavatel certifikace malého konstrukčního projektu na Slovensku se tak stal našim hlavním partnerem pro BREEAM nejen na Slovensku, ale i v České republice.<br><br>

            Salvis bere klientský přístup velice vážně a je flexibilní klientským potřebám. Toto nám umožňuje aktualizovat certifikační postupy na základě potřeb z předchozích zkušeností a promítnout je zpět do standardů výstavby.<br><br>

            Na základě dosavadní zkušenosti ze třinácti certifikovaných projektů mohu Salvis jen doporučit.“
        `
      },
      {
        name: 'Ondrej Barát',
        position: 'Project manager, VGP',
        content: `„SALVIS mi vždy rýchlo a presne odpovedá na otázky súvisiace s BREEAM. Vždy nájdu s projekčným tímom cestu ako splniť požiadavky a získať úroveň Excellent. Páči sa mi, že pravidelne navštevujú stavbu, poskytujú nám správu o stave certifikácie a majú celý proces pod kontrolou.“`
      },
      {
        name: 'Tomáš Gürtler',
        position: 'Project manager, Contera',
        content: `„SALVIS nám dodáva službu BREEAM takým spôsobom akým si to predstavujeme. Odpovedajú rýchlo, komunikujú s projekčným tímom, chodia na stavbu. Vedia ako dosiahnuť úroveň Very Good s nízkymi nákladmi a plynule. So SALVIS sme 100% spokojní.“`
      }
    ]}
  />
  <Accordion
    title='Často kladené otázky'
    descriptions={['Prehľad odpovedí na časté otázky o našej spoločnosti a ponúkaných službách']}
    emphasis={false}
    items={[
      {
        title: 'Aké typy budov môžu získať certifikát BREEAM?',
        content: `
        <ul>
            <li>Novostavba</li>
            <li>Existujúca budova</li>
            <li>Interiér (priestory firmy)</li>
            <li>Mestská štvrť</li>
            <li>Mesto</li>
        </ul>
        `
      },
      {
        title: 'Aké druhy BREEAM certifikácie poskytujete?',
        content: `
        <ul>
            <li>BREEAM International NC 2016</li>
            <li>BREEAM In-Use</li>
            <li>BREEAM RFO</li>
            <li>BREEAM Communities</li>
        </ul>
        `
      },
      {
        title: 'V rámci akých kategórií sa hodnotí budova?',
        content: `
        <ul>
            <li>Management</li>
            <li>Zdravie</li>
            <li>Energia</li>
            <li>Transport</li>
            <li>Voda</li>
            <li>Materiály</li>
            <li>Odpad</li>
            <li>Využitie územia a ekológia</li>
            <li>Znečistenie</li>
            <li>Inovácia</li>
        </ul>
        `
      },
      {
        title: 'V akých úrovniach sú vydávané BREEAM certifikáty?',
        content: `
        <ul>
            <li>Pass (30% – 45%)</li>
            <li>Good (45% – 55%)</li>
            <li>Very Good (55% – 70%)</li>
            <li>Excellent (70% – 85%)</li>
            <li>Outstanding (85% a viac)</li>
        </ul>
        `
      },
      {
        title: 'Aká je cena certifikácie BREEAM?',
        content: `
        <ul>
            <li>Excellent a nižšie úrovne: 0-2% navýšenie celkových stavebných nákladov.</li>
            <li>Outstanding: 0-10% navýšenie celkových stavebných nákladov.</li>
        </ul>

        Na výšku celkových nákladov majú vplyv najmä tieto faktory: <br><br>

        <ul>
            <li>Kedy sa stane certifikácia a udržateľnosť úroveň cieľom. Čím skôr tým nižšie náklady. Ak je skúsený konzultant prítomný od začiatku projektu tak je možné certifikát získať s nízkymi nákladmi (0-2%). Pri neskoršom zapojení je zväčša možné získať len certifikát nízkej úrovne alebo prijať vyššie náklady (0-10%).</li>
            <li>Aký skúsený je konzultant BREEAM (Čím skúsenejší tým nižšie náklady).</li>
            <li>Aký skúsení a angažovaní sú ostatní členovia tímu (Architekt, projektanti, GD, investor) (Čím skúsenejší a angažovanejší tým nižšie náklady).</li>
            <li>Dostupnosť bodov, kt. sú „zadarmo“ a sú determinované polohou (dostupnosť MHD a občianskej vybavenosti, pozemok, kt. bol predtým zastavený VS greenfield, a pod.).</li>
        </ul>`
      },
      {
        title: 'Prečo investičné fondy preferujú certifikované budovy?',
        content: `
        <ul>
            <li>Portfóliá, kde prevažujú certifikované budovy, dosahujú lepšie dlhodobé výsledky.</li>
            <li>V certifikovaných budovách uzatvárajú klienti dlhšie nájomné zmluvy a častejšie ich predlžujú.</li>
            <li>Zelené svedomie („Green conscience“) fondov aj nájomcov.</li>
            <li>Menej neinformovaného obchodovania – certifikát poskytuje užitočné informácie.</li>
            <li>Certifikované budovy musia splniť istú úroveň kvality, aby získali certifikát trvalej udržateľnosti.</li>
        </ul>
        `
      },
      {
        title: 'Aké úspory nákladov prináša certifikácia BREEAM?',
        content: `
        <ul>
            <li>13% nižšie náklady na údržbu</li>
            <li>24 – 50% nižšia spotreba energie</li>
            <li>33 – 39% nižšie emisie CO2</li>
            <li>40% nižšia spotreba vody</li>
            <li>70% menej pevného stavebného odpadu vyvezeného na skládky</li>
            <li>27% vyššia spokojnosť nájomcov</li>
            <li>Vyššie nájmy (6% vyššie ako v nezelených budovách)</li>
            <li>Vyššia miera obsadenosti budov – 3.5% vyššia</li>
            <li>Vyššie predajné ceny – o 16% vyššie ako pri nezelených budovách</li>
            <li>Nižšie náklady na neobsadenosť budov</li>
            <li>Nižšie náklady na energie</li>
            <li>Silnejší dopyt zo strany nájomcov</li>
            <li>Zdravší a produktívnejší zamestnanci (šetrenie značných nákladov a pozitívny dopad na hospodárenie spoločnosti, keďže platy zamestnancov a prislúchajúce výhody sú väčšinou najvyššou nákladovou položkou spoločností) – podľa štúdie BCO Guide z roku 2009 je v zelených budovách nárast produktivity práce o 25 až 30% a úspory s tým spojené dokonca prevyšujú úspory prevádzkových nákladov</li>
            <li>Pozitívny obraz spoločnosti – bezplatný marketing a PR</li>
        </ul>
      `
      }
    ]}
  />
  <Contact />
  <References />
</SidebarLayout>
