---
import ServiceHero from '../components/ServiceHero.astro'
import coverImg from '../images/salvis_team.webp'
import SidebarLayout from '../layouts/SidebarLayout.astro'
---

<SidebarLayout
  title='Careers | SALVIS — Work in Sustainable Building Consultancy'
  description='Join SALVIS and build a career in green building consultancy and certification. See our open positions and grow with us.'
>
  <ServiceHero
    title='Careers'
    descriptions={[
      'SALVIS is a fast-growing company dedicated to ESG consulting, carbon neutrality and sustainable buildings. Our strongest values are freedom and innovation. We are open to challenges and change. Working at SALVIS offers the opportunity to work on the biggest challenge of our time in the context of large construction projects and with leading development companies.',
      '<strong>If you are interested in working with us, please contact us at kariera@salvis.sk</strong>',
      '<strong>We would be delighted if you could write a few sentences about yourself and attach a structured CV.</strong>'
    ]}
    flavorText='Our team includes leading experts in LCA analysis, simulations, sustainable urban planning, LEED and BREEAM consulting.'
    image={{
      src: coverImg,
      alt: 'Photo of SALVIS employees',
      square: false
    }}
  />

  <!-- <Accordion
    title='Junior konzultant BREEAM / LEED'
    titleClass='fw-bold'
    descriptions={[
      'Miesto práce: Bratislava',
      'Mzdové podmienky: 1500 – 2000 € / mesačne, v závislosti od skúseností',
      'Termín nástupu: dohodou'
    ]}
    items={[
      {
        title: 'Požiadavky',
        content: `
        <ul>
            <li>schopnosť pracovať s nástrojom CAD, znalosť čítania projektovej dokumentácie</li>
            <li>schopnosť viesť konverzáciu a pracovať s textom v anglickom jazyku</li>
            <li>vzťah k trvalej udržateľnosti</li>
            <li>dôslednosť</li>
            <li>trpezlivosť</li>
            <li>systematickosť</li>
        </ul>
        `
      },
      {
        title: 'Náplň práce',
        content: `
        <ul>
            <li>Príprava projektu za účelom podania žiadosti o certifikáciu BREEAM / LEED</li>
            <li>Vyhodnocovanie plnenia kritérií udržateľnosti</li>
            <li>Podpora počas porád a mítingov</li>
        </ul>

        <p>Vašou úlohou bude spolupracovať s projekčnými kanceláriami a stavebnými dodávateľmi na zvýšení trvalej udržateľnosti budov.
        </p>
        <p>Dôležitá je schopnosť čítať výkresovú dokumentáciu a pracovať s nástrojom CAD a excel.</p>

        <p>Súčasťou práce je písanie a porozumenie textu v angličtine. Konverzácia v angličtine bude tiež potrebná.</p>

        <p>Budete pracovať pod vedením skúseného konzultanta.</p>
        `
      }
    ]}
  />

  <Accordion
    title='Projektový manažér BREEAM / LEED'
    titleClass='fw-bold'
    descriptions={[
      'Miesto práce: Bratislava',
      'Mzdové podmienky: 2500 – 4000 € / mesačne, v závislosti od skúseností',
      'Termín nástupu: dohodou'
    ]}
    items={[
      {
        title: 'Požiadavky',
        content: `
        <ul>
            <li><strong>2 ročné praktické skúsenosti s certifikáciou BREEAM / LEED</strong></li>
            <li>schopnosť viesť konverzáciu a pracovať s textom v anglickom jazyku</li>
            <li>znalosť čítania projektovej dokumentácie a práca s CAD programami</li>
            <li>vzťah k trvalej udržateľnosti</li>
            <li>dôslednosť</li>
            <li>trpezlivosť</li>
        </ul>
        `
      },
      {
        title: 'Náplň práce',
        content: `
        <ul>
            <li>registrácia budov v systéme BREEAM / LEED a obsluha rozhrania BREEAM Projects / LEEDonline</li>
            <li>spracovanie predbežných hodnotení budov v systéme BREEAM / LEED</li>
            <li>spracovanie odporúčaní na zvýšenie hodnotenia v systéme BREEAM</li>
            <li>vedenie pravidelných stretnutí s klientom a jeho dodávateľmi</li>
            <li>interpretácia požiadaviek BREEAM</li>
            <li>zber projektovej dokumentácie, spracovanie časových harmonogramov projekcie a výstavby</li>
            <li>spolupráca s vedúcimi oddelení architektúry, HVAC, výberu dodávateľov a výstavby pri dodávaní jednotlivých balíkov služieb BREEAM</li>
            <li>manažment subdodávateľov odborných služieb BREEAM</li>
            <li>finalizácia dokumentácie a odoslanie certifikačnému orgánu BRE</li>
            <li>komunikácia s certifikačným orgánom a sprostredkovanie vydania certifikátu</li>
        </ul>

        Súčasťou práce je písanie a porozumenie textu v angličtine. Konverzácia v angličtine bude tiež potrebná.
        `
      }
    ]}
  /> -->
</SidebarLayout>
