---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image, getImage } from 'astro:assets';
import PortraitSilvia from '../images/team/Business_portrait_Silvia.jpg';
import NotebookIMG from '../images/notebook.jpg';
const OptimizedNotebookIMG = await getImage({ src: NotebookIMG });
---

<BaseLayout title='Company' description='Page with informations about EPD Clarity company'>
  <!-- start page title -->
  <section
    class='page-title-big-typography ipad-top-space-margin xs-py-0'
    data-parallax-background-ratio='0.5'
  >
    <div class='opacity-light'></div>
    <div class='container'>
      <div class='row align-items-center justify-content-center small-screen'>
        <div
          class='col-lg-6 col-md-8 position-relative text-center page-title-extra-small'
          data-anime='{ "el": "childs", "rotateX": [90, 0], "opacity": [0,1], "staggervalue": 150, "easing": "easeOutQuad" }'
        >
          <h1 class='mb-5px alt-font text-dark-gray'>
            <span class='opacity-6'>Business profile</span>
          </h1>
          <h2 class='mb-0 text-dark-gray alt-font ls-minus-2px text-shadow-double-large fw-500'>
            About company
          </h2>
        </div>
        <div
          class='down-section text-center'
          data-anime='{ "translateY": [100, 0], "opacity": [0,1], "easing": "easeOutQuad" }'
        >
          <a href='#down-section' class='section-link'>
            <div class='fs-30 sm-fs-32 text-dark-gray'>
              <i class='bi bi-mouse'></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end page title -->
  <!-- start section -->
  <section id='down-section'>
    <div
      id='particles-01'
      data-particle='true'
      data-particle-options='{"particles": {"number": {"value": 6,"density": {"enable": true,"value_area": 1000}},"color":{"value":["#b7b9be", "#dd6531"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.5,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"move": {"enable": true,"speed":2,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'
      class='position-absolute h-100 top-0 left-0 z-index-minus-1'
    >
    </div>
    <div class='container'>
      <div class='row justify-content-center text-center text-lg-start'>
        <div class='col-xl-5 col-lg-6 md-mb-30px xs-mb-25px'>
          <h2
            class='fw-600 text-dark-gray ls-minus-2px mb-0'
            data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
          >
            Optimize business potential through life cycle assessment results
          </h2>
        </div>
        <div class='col-lg-6 offset-xl-1'>
          <p
            class='w-90 sm-w-100 mx-auto mx-lg-0'
            data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
          >
            The process of LCA modelling demands robust methodological expertise and technical
            adaptability. Nonetheless, the outcomes of LCA hold advantages for various departments
            within your organization. Product designers can integrate LCA findings into their
            development process to create innovative and carbon neutral products. Sales teams can
            utilize these results to substantiate the environmental merits of products with
            science-based evidence. Marketing can support environmentally-friendly claims with
            concrete data and statistics.
          </p>
          <a
            href='/services'
            class='btn btn-link btn-large text-dark-gray fw-600'
            data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'
            >Explore services</a
          >
        </div>
      </div>
      <div class='row justify-content-center align-items-center mt-5 md-mt-10'>
        <div
          class='col-xl-4 col-lg-3 col-md-4 sm-mb-35px'
          data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <!-- start counter item -->
          <div class='row align-items-center mb-50px sm-mb-35px'>
            <div class='col-5 col-xl-5 col-md-12 text-end'>
              <h2
                class='alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter'
                data-speed='2000'
                data-to='20'
              >
              </h2>
            </div>
            <div
              class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin text-md-end text-xl-start'
            >
              <span class='fs-20 text-dark-gray fw-600 alt-font'>Years of experience</span>
              <p>as a pioneer in LCA field</p>
            </div>
          </div>
          <!-- end counter item -->
          <!-- start counter item -->
          <div class='row align-items-center'>
            <div class='col-5 col-xl-5 col-md-12 text-end'>
              <h2
                class='alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter'
                data-speed='2000'
                data-to='50'
              >
              </h2>
            </div>
            <div
              class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin text-md-end text-xl-start'
            >
              <span class='fs-20 text-dark-gray fw-600 alt-font'>EPDs created</span>
              <p>across different industries</p>
            </div>
          </div>
          <!-- end counter item -->
        </div>
        <div
          class='col-xl-4 col-lg-6 col-md-4 text-center animation-float sm-mb-65px'
          data-anime='{ "el": "childs", "scale": [0, 1], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <Image
            src={PortraitSilvia}
            alt='Business portrait of Silvia Vilcekova'
            class='border-radius-100 w-350px'
            loading='eager'
          />
        </div>
        <div
          class='col-xl-4 col-lg-3 col-md-4'
          data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <!-- start counter item -->
          <div class='row align-items-center mb-50px sm-mb-35px'>
            <div class='col-5 col-xl-5 col-md-12 text-end text-xl-end text-md-start'>
              <h2
                class='alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter'
                data-speed='2000'
                data-to='130'
              >
              </h2>
            </div>
            <div class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin'>
              <span class='fs-20 text-dark-gray fw-600 alt-font'>EPDs verified</span>
              <p>as third party verifier</p>
            </div>
          </div>
          <!-- end counter item -->
          <!-- start counter item -->
          <div class='row align-items-center'>
            <div class='col-5 col-xl-5 col-md-12 text-end text-xl-end text-md-start'>
              <h2
                class='alt-font fw-600 text-dark-gray ls-minus-2px mb-0 counter'
                data-speed='2000'
                data-to='120'
              >
              </h2>
            </div>
            <div class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin'>
              <span class='fs-20 text-dark-gray fw-600 alt-font'>Scientific publications</span>
              <p>on topics of climate change, carbon footprint of products and others</p>
            </div>
          </div>
          <!-- end counter item -->
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class='p-0 bg-dark-gray overflow-hidden'>
    <div class='container-fluid p-0'>
      <div class='row justify-content-center g-0'>
        <div
          class='col-lg-6 md-h-550px xs-h-400px overflow-hidden'
          data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1000, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div
            class='h-100 cover-background'
            style=`background-image: url(${OptimizedNotebookIMG.src})`
          >
          </div>
        </div>
        <div
          class='col-lg-6 col-md-10 ps-8 pe-8 pt-7 pb-7'
          data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <h2 class='alt-font fw-500 text-white ls-minus-2px'>Experience meets innovation</h2>
          <p class='w-80 lg-w-100 mb-30px'>
            Our consultancy service is founded on the principle of partnership, where we view the
            client-consultant relationship as a collaborative journey towards achieving
            sustainability goals. We are committed to realizing our clients' sustainability
            objectives, dedicating our expertise and resources until those targets are met.
          </p>
          <p class='w-80 lg-w-100 mb-30px'>
            Our approach involves guiding clients through every step of the process, offering not
            only consultancy hours but also our unwavering support and dedication. We believe that
            our clients' success is a testament to our own, and we are fully invested in empowering
            them to leverage their sustainability achievements for long-term growth and impact.
          </p>
          <!-- start features box item -->
          <div class='icon-with-text-style-08 mb-15px'>
            <div class='feature-box feature-box-left-icon-middle'>
              <div
                class='feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border border-2 border-color-transparent-white-light box-shadow-large me-15px'
              >
                <i class='fa-solid fa-check icon-very-small text-white'></i>
              </div>
              <div class='feature-box-content'>
                <span class='fs-18 alt-font d-block text-white'>Client oriented approach</span>
              </div>
            </div>
          </div>
          <!-- start features box item -->
          <!-- end features box item -->
          <div class='icon-with-text-style-08 mb-15px'>
            <div class='feature-box feature-box-left-icon-middle'>
              <div
                class='feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border border-2 border-color-transparent-white-light box-shadow-large me-15px'
              >
                <i class='fa-solid fa-check icon-very-small text-white'></i>
              </div>
              <div class='feature-box-content'>
                <span class='fs-18 alt-font d-block text-white'
                  >Dedicated to always improving our services</span
                >
              </div>
            </div>
          </div>
          <!-- start features box item -->
          <!-- end features box item -->
          <div class='icon-with-text-style-08'>
            <div class='feature-box feature-box-left-icon-middle'>
              <div
                class='feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border border-2 border-color-transparent-white-light box-shadow-large me-15px'
              >
                <i class='fa-solid fa-check icon-very-small text-white'></i>
              </div>
              <div class='feature-box-content'>
                <span class='fs-18 alt-font d-block text-white'
                  >Irresistibly drawn towards innovation and challenges</span
                >
              </div>
            </div>
          </div>
          <!-- start features box item -->
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class='bg-very-light-gray'>
    <div class='container'>
      <div class='row align-items-center'>
        <div class='col-lg-6 md-mb-50px'>
          <div class='row'>
            <div
              class='col-sm-6 mt-30px xs-mt-0'
              data-bottom-top='transform: translateY(50px)'
              data-top-bottom='transform: translateY(-50px)'
              data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <!-- start features box item -->
              <div
                class='bg-white border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all mb-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-Like icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Experienced</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- start features box item -->
              <!-- end features box item -->
              <div
                class='bg-white border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all xs-mb-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-Knight icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Dedicated</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- end features box item -->
            </div>
            <div
              class='col-sm-6'
              data-bottom-top='transform: translateY(-50px)'
              data-top-bottom='transform: translateY(50px)'
              data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <!-- start features box item -->
              <div
                class='bg-white border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all mb-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='xs-w-100 content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-MaleFemale icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Supportive</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- start features box item -->
              <!-- end features box item -->
              <div
                class='bg-white border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all mt-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-Bar-Chart2 icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Efficient</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- end features box item -->
            </div>
          </div>
        </div>
        <div
          class='col-lg-5 offset-lg-1 text-center text-lg-start'
          data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <h2 class='alt-font fw-600 text-dark-gray ls-minus-2px'>
            Why choose our company services?
          </h2>
          <p class='w-90 xs-w-100 mx-auto mx-lg-0'>
            Our consultancy service is founded on the principle of partnership, where we view the
            client-consultant relationship as a collaborative journey towards achieving
            sustainability goals.
          </p>
          <a
            href='/contact'
            class='btn btn-large btn-dark-gray btn-box-shadow mt-10px btn-round-edge'
            >Get started now!</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</BaseLayout>
