---
import SidebarLayout from '../layouts/SidebarLayout.astro'
---

<SidebarLayout
  title='Cookies Policy | SALVIS'
  description='Learn how SALVIS uses cookies and similar technologies to improve your browsing experience, analyze site traffic, and ensure essential website functionality.'
>
  <h1 class='fw-bold'>Cookies Policy</h1>

  <p>
    Our webpage currently does not use cookies or similar technologies to collect or store any
    personal data from its visitors.
  </p>
</SidebarLayout>
