---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Subscribed to newsletter' description='Page not found'>
  <!-- start section -->
  <section class='cover-background full-screen ipad-top-space-margin md-h-550px'>
    <div class='container h-100'>
      <div class='row align-items-center justify-content-center h-100'>
        <div
          class='col-12 col-xl-6 col-lg-7 col-md-9 text-center'
          data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h4 class='text-dark-gray fw-600 sm-fs-22 mb-10px ls-minus-1px'>
            Thank you for subscribing
          </h4>
          <p class='mb-30px lh-28 sm-mb-30px w-55 md-w-80 sm-w-95 mx-auto'>
            Thank you for subscribing to our newsletter! You'll start receiving exclusive updates
            and offers from us soon.
          </p>
          <a
            href='/'
            id='back-button'
            class='btn btn-large left-icon btn-rounded btn-dark-gray btn-box-shadow text-transform-none'
            ><i class='fa-solid fa-arrow-left'></i>Go back</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</BaseLayout>
<script>
  const backButton = document.querySelector('#back-button');
  backButton.addEventListener('click', (e) => {
    e.preventDefault();
    window.history.back();
  });
</script>
