---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image, getImage } from 'astro:assets'
import PostBG from '../images/stock/javier-allegue-barros-C7B-ExXpOIE-unsplash.jpg'
import PostIMG from '../images/stock/scott-graham-5fNmWej4tAA-unsplash.jpg'

const OptimizedPostBG = await getImage({ src: PostBG })
---
<BaseLayout title="Post title" description="Blog post">
        <!-- start section -->
        <section class="one-fourth-screen sm-mb-50px bg-dark-gray"  data-parallax-background-ratio="0.5" style=`background-image: url(${OptimizedPostBG.src})`></section>
        <!-- end section -->
        <!-- start section -->
        <section class="p-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 overlap-section text-center">
                        <div class="p-10 box-shadow-extra-large border-radius-4px bg-white text-center">
                            <!-- <a href="/news" class="btn btn-large btn-base-color btn-box-shadow fw-400 ps-20px pe-20px pt-5px pb-5px btn-round-edge-small mb-3 sm-mb-15px">TIPS</a> -->
                            <h3 class="alt-font text-dark-gray ls-minus-1px fw-600 mb-15px">Choosing the right Programme Operator for you</h3>
                            <div class="lg-mb-20px sm-mb-0">
                                <span>By <a href="/news" class="text-dark-gray">Sarah Curpen</a></span> on <a href="/news" class="text-dark-gray">18 June 2024</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="overlap-section text-center p-0 sm-pt-30px">
            <img class="rounded-circle box-shadow-extra-large w-130px h-130px border border-8 border-color-white" src="https://via.placeholder.com/125x125" alt="">
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="pb-0 pt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 dropcap-style-01" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <p class="mb-6"><span class="alt-font first-letter text-dark-gray">I</span>f you're a manufacturer trying to navigate the world of Environmental Product Declarations (EPDs) and figure out which Programme Operator (PO) to register with, you're not alone. We get this question a lot, and it's a crucial one because the right choice can significantly impact your product's market visibility and sustainability credentials.</p>

                        <div class="row">
                             <div class="col-xs-12 xl-mb-30px">
                                <div class="border-radius-5px border-1 border border-color-light-medium-gray h-100  pt-8 pb-8 ps-10 pe-10 last-paragraph-no-margin">
                                    <p>There are about 100 POs worldwide, each with its own set of Product Category Rules (PCRs) for developing life cycle assessment analyses. This means EPDs from different POs are rarely comparable, adding another layer of complexity to your decision. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="half-section pb-0">
            <div class="container">
                <div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <div class="mb-6">
                        <!-- <img src="https://via.placeholder.com/1190x750" alt=""> -->
                        <Image src={PostIMG} alt=" people sitting behind table. One person is explaining something." />
                    </div>
                    <div class="col-lg-9 last-paragraph-no-margin mb-30px">
                        <h6 class="alt-font fw-500 text-dark-gray ls-minus-05px mb-15px">So, how do you choose the best PO for showcasing your product?</h6>
                        <p> Based on our experience, we've put together a handy list to help you decide. Choosing the right PO is a strategic decision that requires considering regulations, costs, and visibility. </p>
                    </div>

                    <div class="col-lg-9 last-paragraph-no-margin mb-30px">
                        <h6 class="alt-font fw-300 text-dark-gray ls-minus-05px mb-15px">1. Check for National Regulations</h6>
                        <p> First, see if your country has specific regulations. Some countries, like France, Belgium, and The Netherlands, mandate that EPDs must be registered with a national PO. If you're in one of these countries, your choice is pretty straightforward. </p>
                    </div>

                    <div class="col-lg-9 last-paragraph-no-margin mb-30px">
                        <h6 class="alt-font fw-300 text-dark-gray ls-minus-05px mb-15px">2. Consider Tender Requirements</h6>
                        <p> Even if there's no national regulation, certain projects might have specific PO requirements. If you're aiming to participate in a tender, make sure to check the tender documents for any EPD specifications.</p>
                    </div>

                    <div class="col-lg-9 last-paragraph-no-margin mb-30px">
                        <h6 class="alt-font fw-300 text-dark-gray ls-minus-05px mb-15px">3. Compare Programme Operators</h6>
                        <p class="mb-15px"> If you're not bound by specific regulations, you need to compare POs on various levels:
                        </p>
                        <ol style="list-style-type: none;">
                            <li>
                                <div class="col-lg-9 last-paragraph-no-margin mb-30px">
                                    <div class="alt-font fw-500 text-dark-gray ls-minus-05px mb-15px">Cost Considerations</div>
                                    <p> Cost is a major factor, especially if you need EPDs for a large number of similar products. Different POs have different definitions for product similarity, affecting the types of EPDs they offer. Here's a quick breakdown:</p>

                                    <ul class="mb-30px">

                                        <li><b>Specific EPD:</b> One product, one location.</li>
                                        <li><b>Average EPD:</b> Similar products grouped together, with conditions such as a minimal difference in global warming potential (GWP) results, or one product manufactured at multiple locations under similar conditions.</li>

                                    </ul>
                                    <p>
                                    Grouping multiple products under one EPD can lower registration fees compared to registering multiple product-specific EPDs. Don't forget to factor in additional costs like annual membership fees, third-party verification fees, and consultancy fees. Notably, EPD Square offers a single fee for both verification and registration, with no annual membership fee.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="col-lg-9 last-paragraph-no-margin mb-30px">
                                    <div class="alt-font fw-500 text-dark-gray ls-minus-05px mb-15px">Visibility and Reach</div>
                                    <p>EPDs are like brochures for your product's sustainability, so having them on a widely recognized platform is key. The largest EPD databases include INIES (France), the International EPD System (Global), EPD Norge (Norway), IBU (Germany), and UL (USA). These POs are well-regarded but often come with higher costs.</p> <p>For more budget-friendly yet reputable options, consider EPD Square (Global) and Smart EPD (USA). Also, look for POs that are members of the ECO Platform, which works on standardizing regulations and facilitating international trade by eliminating barriers.</p>
                                </div>
                            </li>

                            <li>
                                <div class="col-lg-9 last-paragraph-no-margin mb-30px">
                                    <div class="alt-font fw-500 text-dark-gray ls-minus-05px mb-15px">Mutual Recognition Agreements</div>
                                    <p>If you're still unsure and want to maximize your product's visibility across different POs while keeping costs down, look for mutual recognition agreements. These agreements allow your EPD to be published with multiple POs, which is particularly useful for businesses operating in international markets and aiming to win international agreements.</p>
                                </div>
                            </li>

                        </ol>
                    </div>

                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <!-- <section class="half-section" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="container">
                <div class="row">
                    <div class="col-12 position-relative">
                        <img src="https://via.placeholder.com/1190x750" alt="">
                        <a href="https://player.vimeo.com/video/75976293" class="text-center bg-white rounded-circle video-icon-box video-icon-large popup-vimeo slide-up-animation absolute-middle-center">
                            <span>
                                <span class="video-icon bg-base-color">
                                    <i class="fa-solid fa-play text-white"></i>
                                    <span class="video-icon-sonar">
                                        <span class="video-icon-sonar-bfr bg-base-color"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- end section -->
        <!-- start section -->
        <section class="py-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 last-paragraph-no-margin" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <!-- <h6 class="alt-font fw-500 text-dark-gray ls-minus-05px mb-15px">Success is the result of perfection and hard work</h6> -->
                        <p class="mb-5">By following this list, you can make an informed choice that best showcases your product's sustainability credentials. If all fails, you can always rely on your LCA/EPD consultant to help you make the right choice.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="half-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <div class="row mb-30px">
                            <div class="tag-cloud col-md-9 text-center text-md-start sm-mb-15px">
                                <a href="/news">Here</a>
                                <a href="/news">Can be</a>
                                <a href="/news">Some</a>
                                <a href="/news">Tags</a>
                            </div>
                            <div class="tag-cloud col-md-3 text-uppercase text-center text-md-end">
                                <a class="likes-count fw-500 mx-0" href="#"><i class="fa-regular fa-heart text-red me-10px"></i><span class="text-dark-gray text-dark-gray-hover">05 Likes</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-6">
                                <div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
                                    <div class="w-140px text-center me-50px sm-mx-auto">
                                        <img src="https://via.placeholder.com/200x200" class="rounded-circle w-120px" alt="">
                                        <a href="/news" class="text-dark-gray fw-500 mt-20px d-inline-block lh-20">Sarah Curpen</a>
                                        <span class="fs-15 lh-20 d-block sm-mb-15px">LCA Engineer</span>
                                    </div>
                                    <div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type.</p>
                                        <a href="/news" class="btn btn-link btn-large text-dark-gray mt-15px">All author posts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 text-center elements-social social-icon-style-04">
                                <ul class="medium-icon dark">
                                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
                                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>
                                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a></li>
                                    <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a></li>
                                    <li><a class="behance" href="http://www.behance.com/" target="_blank"><i class="fa-brands fa-behance"></i><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="bg-very-light-gray">
            <div class="container">
                <div class="row justify-content-center mb-1">
                    <div class="col-lg-7 text-center">
                        <span class="fw-600 ls-1px fs-15 alt-font d-inline-block text-uppercase text-base-color">You may also like</span>
                        <h2 class="alt-font text-dark-gray fw-600 ls-minus-2px">Related posts</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="blog-grid blog-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card border-0 border-radius-4px box-shadow-quadruple-large">
                                    <div class="blog-image">
                                        <a href="/news-post" class="d-block"><img src="https://via.placeholder.com/600x460" alt="" /></a>
                                    </div>
                                    <div class="card-body p-13 md-p-11">
                                        <a href="/news-post" class="card-title mb-15px alt-font fw-600 fs-20 text-dark-gray d-inline-block">Build up healthy habits and strong peaceful life</a>
                                        <p>Lorem ipsum has been industry standard dummy text ever...</p>
                                        <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-16">
                                            <div class="me-auto">
                                                <span class="blog-date d-inline-block">30 August 2021</span>
                                                <div class="d-inline-block author-name">By <a href="/news" class="text-dark-gray text-decoration-line-bottom fw-600">Den viliamson</a></div>
                                            </div>
                                            <div class="like-count fs-15 fw-600">
                                                <a href="/news-post"><i class="fa-regular fa-heart text-base-color"></i><span class="text-dark-gray align-middle">65</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item -->
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card border-0 border-radius-4px box-shadow-quadruple-large">
                                    <div class="blog-image">
                                        <a href="/news-post" class="d-block"><img src="https://via.placeholder.com/600x460" alt="" /></a>
                                    </div>
                                    <div class="card-body p-13 md-p-11">
                                        <a href="/news-post" class="card-title mb-15px alt-font fw-600 fs-20 text-dark-gray d-inline-block">How to bring the season into your great work</a>
                                        <p>Lorem ipsum has been industry standard dummy text ever...</p>
                                        <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-16">
                                            <div class="me-auto">
                                                <span class="blog-date d-inline-block">28 August 2021</span>
                                                <div class="d-inline-block author-name">By <a href="/news" class="text-dark-gray text-decoration-line-bottom fw-600">Hugh macleod</a></div>
                                            </div>
                                            <div class="like-count fs-15 fw-600">
                                                <a href="/news-post"><i class="fa-regular fa-heart text-base-color"></i><span class="text-dark-gray align-middle">25</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item -->
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card border-0 border-radius-4px box-shadow-quadruple-large">
                                    <div class="blog-image">
                                        <a href="/news-post" class="d-block"><img src="https://via.placeholder.com/600x460" alt="" /></a>
                                    </div>
                                    <div class="card-body p-13 md-p-11">
                                        <a href="/news-post" class="card-title mb-15px alt-font fw-600 fs-20 text-dark-gray d-inline-block">Be the strong willed one the public relationship</a>
                                        <p>Lorem ipsum has been industry standard dummy text ever...</p>
                                        <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-16">
                                            <div class="me-auto">
                                                <span class="blog-date d-inline-block">26 August 2021</span>
                                                <div class="d-inline-block author-name">By <a href="/news" class="text-dark-gray text-decoration-line-bottom fw-600">Walton smith</a></div>
                                            </div>
                                            <div class="like-count fs-15 fw-600">
                                                <a href="/news-post"><i class="fa-regular fa-heart text-base-color"></i><span class="text-dark-gray align-middle">30</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="row justify-content-center">
                    <div class="col-lg-9 text-center mb-2">
                        <h6 class="alt-font text-dark-gray fw-500">4 Comments</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <ul class="blog-comment">
                            <li>
                                <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                    <div class="w-90px sm-w-65px sm-mb-10px">
                                        <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                    </div>
                                    <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                        <a href="#" class="text-dark-gray fw-500">Herman Miller</a>
                                        <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                        <div class="fs-14 lh-24 mb-10px">17 July 2020, 6:05 PM</div>
                                        <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make book.</p>
                                    </div>
                                </div>
                                <ul class="child-comment">
                                    <li>
                                        <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                            <div class="w-90px sm-w-65px sm-mb-10px">
                                                <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                            </div>
                                            <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                                <a href="#" class="text-dark-gray fw-500">Wilbur Haddock</a>
                                                <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                                <div class="fs-14 lh-24 mb-10px">18 July 2020, 10:19 PM</div>
                                                <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-block d-md-flex w-100 align-items-center align-items-md-start border-radius-5px p-50px md-p-30px sm-p-20px bg-very-light-gray">
                                            <div class="w-90px sm-w-65px sm-mb-10px">
                                                <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                            </div>
                                            <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                                <a href="#" class="text-dark-gray fw-500">Sarah Curpen</a>
                                                <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                                <div class="fs-14 lh-24 mb-10px">18 July 2020, 12:39 PM</div>
                                                <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Ipsum has been the industry's standard dummy text.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                    <div class="w-90px sm-w-65px sm-mb-10px">
                                        <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                    </div>
                                    <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                        <a href="#" class="text-dark-gray fw-500">Jennifer Freeman</a>
                                        <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                        <div class="fs-14 lh-24 mb-10px">19 July 2020, 8:25 PM</div>
                                        <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make a type specimen book.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section id="comments" class="border-bottom border-color-extra-medium-gray pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 mb-3 sm-mb-6">
                        <h6 class="alt-font text-dark-gray fw-500 mb-5px">Write a comment</h6>
                        <div class="mb-5px">Your email address will not be published. Required fields are marked *</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <form action="email-templates/contact-form.php" method="post" class="row contact-form-style-02">
                            <div class="col-md-6 mb-30px">
                                <input class="input-name border-radius-4px form-control required" type="text" name="name" placeholder="Enter your name*">
                            </div>
                            <div class="col-md-6 mb-30px">
                                <input class="border-radius-4px form-control required" type="email" name="email" placeholder="Enter your email address*">
                            </div>
                            <div class="col-md-12 mb-30px">
                                <textarea class="border-radius-4px form-control" cols="40" rows="4" name="comment" placeholder="Your message"></textarea>
                            </div>
                            <div class="col-12">
                                <input type="hidden" name="redirect" value="">
                                <button class="btn btn-dark-gray btn-small btn-round-edge submit" type="submit">Post Comment</button>
                                <div class="form-results mt-20px d-none"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
</BaseLayout>