---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Privacy Policy' description='Page with privacy policy document'>
  <section
    class='page-title-big-typography ipad-top-space-margin xs-py-0'
    data-parallax-background-ratio='0.5'
  >
    <div class='opacity-light'></div>
    <div class='container'>
      <div class='row align-items-center justify-content-center small-screen'>
        <div
          class='col-lg-6 col-md-8 position-relative text-center page-title-extra-small'
          data-anime='{ "el": "childs", "rotateX": [90, 0], "opacity": [0,1], "staggervalue": 150, "easing": "easeOutQuad" }'
        >
          <!-- <h1 class='mb-5px alt-font text-dark-gray'>
            <span class='opacity-6'>Privacy Policy</span>
          </h1> -->
          <h2 class='mb-0 text-dark-gray alt-font ls-minus-2px text-shadow-double-large fw-500'>
            Privacy Policy
          </h2>
        </div>
        <div
          class='down-section text-center'
          data-anime='{ "translateY": [100, 0], "opacity": [0,1], "easing": "easeOutQuad" }'
        >
          <a href='#down-section' class='section-link'>
            <div class='fs-30 sm-fs-32 text-dark-gray'>
              <i class='bi bi-mouse'></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class='bg-very-light-gray'>
    <div class='container'>
      <div class='row align-items-center'>
        <div class='col-lg-9 md-mb-50px'>
          <div class='row'>
            <h2 class='fs-20 mb-15px text-dark-gray fw-600'>1. Introduction</h2>
            <p>
              Welcome to EPD Clarity (“we”, “our”, “us”). We are committed to protecting your
              personal data and respecting your privacy. This Privacy Policy explains how we
              collect, use, disclose, and safeguard your information when you visit our website <a
                href='https:epdclarity.com'
              >
                epdclarity.com
              </a> (the “Site”). By using our Site, you agree to the terms of this Privacy Policy.
            </p>
            <h2 class='fs-20 mb-15px text-dark-gray fw-600'>2. Information We Collect</h2>
            <h3 class='fs-20 mb-15px text-dark-gray fw-400'>2.1 Personal Data</h3>
            <p>
              When you visit our Site, we may collect certain personal information that you
              voluntarily provide to us, such as:
            </p>
            <ul>
              <li>Your name</li>
              <li>Email address</li>
              <li>Phone number</li>
              <li>
                Any other information you provide through forms or contact features on our Site
              </li>
            </ul>
            <h3 class='fs-20 mb-15px text-dark-gray fw-400'>2.2 Usage Data</h3>
            <p>We may also collect information about how you interact with our Site, such as:</p>
            <ul>
              <li>Your IP address</li>
              <li>Browser type and version</li>
              <li>Pages you visit</li>
              <li>Time and date of your visit</li>
              <li>Time spent on those pages</li>
            </ul>
            <h2 class='fs-20 mb-15px text-dark-gray fw-600'>3. How We Use Your Information</h2>
            <p>We use your information to:</p>
            <ul>
              <li>Respond to your inquiries and provide customer support</li>
              <li>Improve our Site and services</li>
              <li>Analyze usage patterns to enhance user experience</li>
              <li>Send you updates and information related to our services (if applicable)</li>
            </ul>
            <h2 class='fs-20 mb-15px text-dark-gray fw-600'>4. Cookies</h2>
            <h3 class='fs-20 mb-15px text-dark-gray fw-400'>4.1 What Are Cookies?</h3>
            <p>
              Cookies are small text files placed on your device by websites you visit. They are
              used to remember your preferences, track your activities, and enhance your experience
              on our Site.
            </p>
            <h3 class='fs-20 mb-15px text-dark-gray fw-400'>4.2 Types of Cookies We Use</h3>
            <p>We use the following types of cookies:</p>
            <ul>
              <li>
                Essential Cookies: Necessary for the Site to function correctly, such as keeping
                your cookie saving preferences from the cookie banner
              </li>
              <li>
                Performance Cookies: Help us understand how visitors interact with our Site. For
                example:
                <ul>
                  <li>
                    Cookie Name: _ga
                    <ul>
                      <li>
                        Purpose: The _ga cookie, installed by Google Analytics, calculates visitor,
                        session and campaign data and also keeps track of site usage for the site’s
                        analytics report. The cookie stores information anonymously.
                      </li>
                      <li>Duration: 2 years</li>
                    </ul>
                  </li>
                  <li>
                    Cookie Name: _gid
                    <ul>
                      <li>Purpose: Distinguishes users for Google Analytics.</li>
                      <li>Duration: 24 hours</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                Advertising Cookies: Used to measure the effectiveness of our ads. For example:
                <ul>
                  <li>
                    Cookie Name: GCLID
                    <ul>
                      <li>Purpose: Tracks conversions from Google Ads.</li>
                      <li>Duration: 90 days</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <h3 class='fs-20 mb-15px text-dark-gray fw-400'>4.3 Managing Cookies</h3>
          <p>You can manage your cookie preferences by:</p>
          <ul>
            <li>
              Cookie Settings: Clicking the button in the bottom left corner of our Site to adjust
              your settings.
            </li>
            <li>
              Browser Settings: Configuring your browser to block or delete cookies. Please refer to
              your browser’s help section for instructions.
            </li>
          </ul>
          <h2 class='fs-20 mb-15px text-dark-gray fw-600'>5. Form Submissions</h2>
          <h3 class='fs-20 mb-15px text-dark-gray fw-400'>5.1 Formspark Integration</h3>
          <p>
            We use Formspark to handle and process form submissions on our Site. Formspark securely
            collects and stores data submitted through our forms.
          </p>
          <h3 class='fs-20 mb-15px text-dark-gray fw-400'>5.2 Data Collected</h3>
          <p>Formspark may collect the following information from form submissions:</p>
          <ul>
            <li>Personal identification information (e.g., name, email address)</li>
            <li>Form data (e.g., comments, requests)</li>
          </ul>
          <h3 class='fs-20 mb-15px text-dark-gray fw-400'>5.3 Data Processing and Security</h3>
          <p>
            Formspark processes and stores your data in accordance with their privacy policy. For
            more details, review Formspark’s privacy policy <a
              href='
              https:
              formspark.io
              legal
              privacy-policy
              '
            >
              here
            </a>
          </p>
          <h3 class='fs-20 mb-15px text-dark-gray fw-400'>5.4 Data Retention</h3>
          <p>
            Formspark retains your data for as long as necessary to fulfill its purposes and comply
            with legal obligations.
          </p>
          <h3 class='fs-20 mb-15px text-dark-gray fw-400'>5.5 User Rights</h3>
          <p>
            You can request access, correction, or deletion of your personal data by contacting us.
            We will work with Formspark to address your requests.
          </p>
          <h2 class='fs-20 mb-15px text-dark-gray fw-600'>6. Third-Party Links</h2>
          <p>
            Our Site may contain links to third-party websites. We are not responsible for the
            privacy practices or content of these external sites. We encourage you to review their
            privacy policies.
          </p>
          <h2 class='fs-20 mb-15px text-dark-gray fw-600'>7. Data Security</h2>
          <p>
            We implement reasonable measures to protect your information from unauthorized access,
            disclosure, or destruction. However, no data transmission over the internet is
            completely secure, and we cannot guarantee absolute security.
          </p>
          <h2 class='fs-20 mb-15px text-dark-gray fw-600'>8. Changes to This Policy</h2>
          <p>
            We may update this Privacy Policy from time to time. Any changes will be posted on this
            page with an updated effective date. We encourage you to review this policy
            periodically.
          </p>
          <h2 class='fs-20 mb-15px text-dark-gray fw-600'>9. Contact Us</h2>
          <p>
            If you have any questions or concerns about this Privacy Policy or our data practices,
            please contact us at:<br />
            EPD Clarity, s.r.o<br />
            Karadzicova 16, 821 08, Bratislava, Slovakia<br />
            <a href='mailto:info@epdclarity.com'>info@epdclarity.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
