---
import SidebarLayout from '@layouts/SidebarLayout.astro'
---

<SidebarLayout
  title='Privacy Policy | SALVIS'
  description='Learn how SALVIS collects, uses and protects your personal data. Review our privacy policy to understand your rights and our commitment to data security.'
>
  <h1 class='fw-bold'>Privacy Policy</h1>

  <p>
    Our company (SALVIS, s.r.o.), acting as the controller of your personal data, approaches this
    activity professionally and in accordance with good morals, and only for a defined or specified
    purpose.
  </p>
  <p>
    When processing personal data, we fully comply with the requirements of Act No. 18/2018 Coll. on
    the protection of personal data and on amendments to certain acts (hereinafter referred to as
    the "PD Act") and Regulation (EU) 2016/679 of the European Parliament and of the Council on the
    protection of natural persons with regard to the processing of personal data and on the free
    movement of such data.
  </p>
  <p>
    We process personal data only in the manner and within the limits set out in this Act so as not
    to violate the fundamental rights and freedoms of the persons concerned, in particular their
    right to human dignity or other unjustified interference with their right to privacy.
  </p>
</SidebarLayout>
