---
import SidebarLayout from '../layouts/SidebarLayout.astro'
---

<SidebarLayout>
  <h1 class='fw-bold'>Zásady ochrany osobných údajov</h1>

  <p>
    Naša spoločnosť (SALVIS, s.r.o.) vystupujúca ako prevádzkovateľ spracúvania vašich osobných
    údajov (OsÚ) pristupuje k tejto činnosti profesionálne a v súlade s dobrými mravmi, a to len na
    vymedzený alebo ustanovený účel.
  </p>
  <p>
    Pri spracúvaní OsÚ plne spĺňame požiadavky Zákona č.18/2018 Z. z. o ochrane osobných údajov a o
    zmene a doplnení niektorých zákonov (ďalej len „Zákon o OsÚ“) a Nariadenia Európskeho parlamentu
    a rady (EÚ) 2016/679 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe
    takýchto údajov.
  </p>
  <p>
    Osobné údaje spracúvame len spôsobom ustanoveným týmto zákonom a v jeho medziach tak, aby
    nedošlo k porušeniu základných práv a slobôd dotknutých osôb, najmä k porušeniu ich práva na
    zachovanie ľudskej dôstojnosti alebo k iným neoprávneným zásahom do ich práva na ochranu
    súkromia.
  </p>
</SidebarLayout>
