---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Service detail" description="Detailed information about the service">
    <!-- start page title -->
    <section class="page-title-big-typography bg-dark-gray ipad-top-space-margin xs-py-0" data-parallax-background-ratio="0.5" style="background-image: url(https://via.placeholder.com/1920x1050)">
        <div class="opacity-light bg-dark-gray"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center small-screen">
                <div class="col-lg-7 col-md-8 position-relative text-center page-title-extra-small" data-anime='{ "el": "childs", "rotateX": [90, 0], "opacity": [0,1], "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <h1 class="mb-5px alt-font text-white"><span class="opacity-6">Sustainability based on quantified environmental data</span></h1>
                    <h2 class="mb-0 text-white alt-font ls-minus-2px text-shadow-double-large fw-500">Life Cycle Assessment</h2>
                </div>
                <div class="down-section text-center" data-anime='{ "translateY": [100, 0], "opacity": [0,1], "easing": "easeOutQuad" }'>
                    <a href="#down-section" class="section-link">
                        <div class="fs-30 sm-fs-32 text-white">
                            <i class="bi bi-mouse"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
    <!-- start section -->
    <section id="down-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-9 md-mb-50px">
                    <figure class="position-relative m-0 border-radius-5px overflow-hidden" data-anime='{ "effect": "slide", "direction": "lr", "color": "#dd6531", "duration": 1000, "delay": 0 }'>
                        <img src="https://via.placeholder.com/600x590" alt="" class="w-100">
                        <figcaption class="position-absolute bottom-25px left-25px w-250px border-radius-4px bg-white d-flex align-items-center pt-20px pb-20px ps-25px pe-25px" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 800, "delay": 1200, "staggervalue": 100, "easing": "easeOutQuad" }'>
                            <h2 class="text-dark-gray fw-700 ls-minus-3px sm-ls-minus-2px vertical-counter d-inline-flex mb-0 text-nowrap border-end border-1 border-color-extra-medium-gray pe-20px me-20px" data-to="85"></h2>
                            <span class="text-dark-gray lh-22 fw-500 d-inline-block">Project completed</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-9" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <h2 class="fw-600 text-dark-gray ls-minus-2px">Life Cycle Assessment: What does it look like?</h2>
                    <p class="w-90 lg-w-100 md-mx-auto mb-35px">LCA focuses on the environmental impacts of a product or system, including greenhouse gas emissions, energy consumption, water usage, waste generation, and other environmental impacts.</p>
                    <div class="row row-cols-1 justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                        <!-- start features box item -->
                        <div class="col icon-with-text-style-01 mb-7">
                            <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                <div class="feature-box-icon">
                                    <img src="https://via.placeholder.com/64x64" alt="">
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-20 md-fs-19 fw-600 text-dark-gray d-block mb-5px">Analyze your environmental impacts</span>
                                    <p>Quantify the impacts of your product through 19 impact environmental indicators.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="col icon-with-text-style-01 mb-7">
                            <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                <div class="feature-box-icon">
                                    <img src="https://via.placeholder.com/64x64" alt="">
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-20 md-fs-19 fw-600 text-dark-gray d-block mb-5px">Assess your product's sustainability</span>
                                    <p>Analyze factors such as the materials employed, supply chain dynamics, manufacturing processes, application methods, and disposal strategies.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="col icon-with-text-style-01">
                            <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                <div class="feature-box-icon">
                                    <img src="https://via.placeholder.com/64x64" alt="">
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-20 md-fs-19 fw-600 text-dark-gray d-block mb-5px">Show off to your customers</span>
                                    <p>By assessing the environmental performance of your product, you can help your buyers make well-informed decisions.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="pt-0 border-bottom border-color-transparent-dark-very-light" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
        <div class="container">
            <div class="row mb-45px md-mb-30px">
                <div class="col-12 text-center">
                    <span class="fs-26 fw-500 ls-minus-1px text-dark-gray">Trusted by the world's fastest growing companies</span>
                </div>
            </div>
            <div class="row position-relative clients-style-08">
                <div class="col swiper text-center feather-shadow" data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 4000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper marquee-slide">
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-envato.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-pingdom.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-paypal.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-walmart.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-amazon.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-logitech.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-envato.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                        <!-- start client item -->
                        <div class="swiper-slide">
                            <a href="#"><img src="images/logo-pingdom.svg" class="h-40px xs-h-30px" alt="" /></a>
                        </div>
                        <!-- end client item -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="overflow-hidden">
        <div class="container">
            <div class="row mb-7 justify-content-center">
                <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <h3 class="text-dark-gray fw-600 ls-minus-2px w-80 xl-w-100 mb-15px">What is included in the service?</h3>
                    <p class="w-80 xl-w-100">Lorem ipsum dolor amet consectetur adipiscing dolore magna tempor.</p>
                    <a href="/contact" class="btn btn-medium btn-dark-gray btn-box-shadow btn-round-edge">Get started now!</a>
                </div>
                <div class="col-lg-8">
                    <div class="row row-cols-1 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                        <!-- start features box item -->
                        <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                            <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                                <div class="feature-box-icon">
                                    <i class="line-icon-Bar-Chart2 icon-extra-large text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">1. LCA Data collection</span>
                                    <p>You will identify and quantify inputs (e.g., raw materials, energy, water) and outputs associated with each stage of the product life cycle. Using our proprietary template, data collection is made easy and intuitive.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                            <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                                <div class="feature-box-icon">
                                    <i class="line-icon-Basket-Coins icon-extra-large text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">2. LCA modelling</span>
                                    <p>Once the data collection step is finished, we will perform LCA modelling. It involves application of impact assessment methods based on international standards ISO 14040 and ISO 14044.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="col icon-with-text-style-01 sm-mb-6 xs-mb-30px">
                            <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                                <div class="feature-box-icon">
                                    <i class="line-icon-Cursor-Click2 icon-extra-large text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">3. Results interpretation</span>
                                    <p>In the final step we will interpret the results of the analysis to draw conclusions and make informed decisions regarding the environmental performance of the product, process, or service being assessed. This also involves identifying hotspots (stages with the highest environmental impacts), comparing alternative scenarios, and exploring opportunities for improvement.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <!-- <div class="col icon-with-text-style-01">
                            <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                                <div class="feature-box-icon">
                                    <i class="line-icon-Archery-2 icon-extra-large text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">EPD publishing</span>
                                    <p>Lorem ipsum is simply dummy printing type setting it.</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- end features box item -->
                    </div>
                </div>
            </div>
            <div class="row" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <div class="col-12 fs-22 fw-500 ls-minus-1px text-dark-gray text-center">
                    For any queries on EPD advisory services, write us at <a class="text-dark-gray text-decoration-line-bottom" href="mailto:info@yourdomain.com">info@epdclarity.com</a> or use contact form on this website.
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="p-0 bg-dark-gray">
        <div class="container-fluid p-0">
            <div class="row justify-content-center g-0">
                <div class="col-lg-6 md-h-550px sm-h-400px">
                    <div class="h-100 cover-background" style="background-image: url(https://via.placeholder.com/960x678)" data-anime='{ "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'></div>
                </div>
                <div class="col-lg-6 ps-8 pe-7 pt-6 pb-6 lg-p-6 sm-p-10" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <h2 class="alt-font fw-500 text-white ls-minus-2px w-80 xl-w-100 mb-25px">Benefits of our services</h2>
                    <p class="w-65 xl-w-85 lg-w-100 mb-30px">By demonstrating a lower environmental impact compared to competitors, you can gain a competitive advantage in the market and appeal to environmentally conscious consumers.</p>
                    <p class="w-65 xl-w-85 lg-w-100 mb-30px">LCA will also help you to identify areas of the product life cycle with the highest environmental impacts. Use this information to prioritize initiatives aimed at reducing environmental footprints, optimizing resource use, and enhancing overall sustainability performance.</p>
                    <!-- start features box item -->
                    <div class="icon-with-text-style-08 mb-15px">
                        <div class="feature-box feature-box-left-icon-middle">
                            <div class="feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border border-2 border-color-transparent-white-light box-shadow-large me-15px">
                                <i class="fa-solid fa-check icon-very-small text-white"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fs-18 lh-28 fw-500 d-block text-white">Competitive Advantage</span>
                            </div>
                        </div>
                    </div>
                    <!-- start features box item -->
                    <!-- end features box item -->
                    <div class="icon-with-text-style-08 mb-15px">
                        <div class="feature-box feature-box-left-icon-middle">
                            <div class="feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border border-2 border-color-transparent-white-light box-shadow-large me-15px">
                                <i class="fa-solid fa-check icon-very-small text-white"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fs-18 lh-28 fw-500 d-block text-white">Transparency and Credibility</span>
                            </div>
                        </div>
                    </div>
                    <!-- start features box item -->
                    <!-- end features box item -->
                    <div class="icon-with-text-style-08">
                        <div class="feature-box feature-box-left-icon-middle">
                            <div class="feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border border-2 border-color-transparent-white-light box-shadow-large me-15px">
                                <i class="fa-solid fa-check icon-very-small text-white"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fs-18 lh-28 fw-500 d-block text-white">Product Innovation and Improvement</span>
                            </div>
                        </div>
                    </div>
                    <!-- start features box item -->
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row mb-6">
                <div class="col-xl-5 col-lg-6 md-mb-40px" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <h2 class="text-dark-gray fw-600 ls-minus-2px mb-15px">Immediatly increase value of your product</h2>
                    <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="fa-angle-down" data-inactive-icon="fa-angle-right">
                        <!-- start accordion item -->
                        <div class="accordion-item active-accordion">
                            <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="fa-solid fa-angle-down icon-small"></i><span class="fs-20 fw-600">How is data collection performed?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>Data collection is made by you, via our proprietary template designed to be easy and user friendly.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="fa-solid fa-angle-right icon-small"></i><span class="fs-20 fw-600">How is sensitive data protected?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>We understand the sensitive and confidential nature of production data and we are ready to sign non-disclosure agreements provided by our clients.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="fa-solid fa-angle-right icon-small"></i><span class="fs-20 fw-600">What is the expected delivery time?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>LEach LCA project is unique and has different timelines. However we've noticed a range of 4-6 weeks for LCA modelling based on previous experience. </p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="fa-solid fa-angle-right icon-small"></i><span class="fs-20 fw-600">Will I receive support in interpreting the LCA results?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>Our consultants are ready to support you through interpretation of your LCA findings and guide you.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                    </div>
                </div>
                <div class="col-lg-6 offset-xl-1 position-relative z-index-1" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="atropos" data-atropos data-atropos-perspective="2450">
                        <div class="atropos-scale">
                            <div class="atropos-rotate">
                                <div class="atropos-inner">
                                    <img src="https://via.placeholder.com/960x762" alt="" class="w-100 border-radius-6px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute-middle-center text-white-space-nowrap z-index-9">
                        <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="btn btn-extra-large btn-white left-icon btn-box-shadow fw-600 btn-rounded popup-youtube ls-minus-05px"><i class="fa-brands fa-youtube icon-small"></i>How it works</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <div class="col-12 fs-22 fw-500 ls-minus-1px text-dark-gray text-center">
                    Save your precious time and effort spent for finding a solution. <a class="text-dark-gray text-decoration-line-bottom d-inline-block" href="contact">Contact us now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="bg-very-light-gray background-position-right-top background-no-repeat" style="background-image: url('https://via.placeholder.com/551x369')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 contact-form-style-03 md-mb-50px sm-mb-30px" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="p-14 lg-p-11 border-radius-6px bg-dark-gray h-100">
                        <h3 class="fw-500 alt-font text-white mb-30px md-mb-15px ls-minus-1px">Get a free quote?</h3>
                        <!-- start contact form -->
                        <form action="email-templates/contact-form.php" method="post">
                            <div class="position-relative form-group mb-20px">
                                <span class="form-icon"><i class="bi bi-person icon-extra-medium"></i></span>
                                <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required" type="text" name="name" placeholder="Enter your name*">
                            </div>
                            <div class="position-relative form-group mb-20px">
                                <span class="form-icon"><i class="bi bi-envelope icon-extra-medium"></i></span>
                                <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required" type="email" name="email" placeholder="Enter your email address*">
                            </div>
                            <div class="position-relative form-group form-textarea mt-15px mb-25px">
                                <textarea class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control" name="comment" placeholder="Enter your message" rows="3"></textarea>
                                <span class="form-icon"><i class="bi bi-chat-square-dots icon-extra-medium"></i></span>
                                <input type="hidden" name="redirect" value="">
                                <button class="btn btn-medium btn-base-color mt-30px submit w-100 btn-round-edge btn-box-shadow" type="submit">Submit now</button>
                                <div class="form-results mt-20px d-none"></div>
                            </div>
                            <span class="fs-15 lh-24 text-medium-gray opacity-8 d-block">I understand that my data will be hold securely in accordance with the privacy policy.</span>
                        </form>
                        <!-- end contact form -->
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-10 text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <span class="fs-20 fw-500 text-base-color d-block mb-20px">A few good reasons</span>
                    <h2 class="fw-600 text-dark-gray ls-minus-2px mb-35px">Here is what our clients have to say.</h2>
                    <div class="swiper position-relative magic-cursor" data-slider-options='{ "autoHeight": true, "loop": true, "allowTouchMove": true, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "effect": "fade" }'>
                        <div class="swiper-wrapper mb-50px lg-mb-35px">
                            <!-- start text slider item -->
                            <div class="swiper-slide review-style-08">
                                <p class="fs-18">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                <div class="mt-20px">
                                    <img class="rounded-circle w-95px h-95px me-15px" src="https://via.placeholder.com/148x148" alt="">
                                    <div class="d-inline-block align-middle text-start">
                                        <div class="text-dark-gray fs-20 fw-600 ls-minus-05px">Alexander harvard</div>
                                        <div class="review-star-icon fs-18">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end text slider item -->
                            <!-- start text slider item -->
                            <div class="swiper-slide review-style-08">
                                <p class="fs-18">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                <div class="mt-20px">
                                    <img class="rounded-circle w-95px h-95px me-15px" src="https://via.placeholder.com/148x148" alt="">
                                    <div class="d-inline-block align-middle text-start">
                                        <div class="text-dark-gray fs-20 fw-600 ls-minus-05px">Shoko mugikura</div>
                                        <div class="review-star-icon fs-18">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end text slider item -->
                            <!-- start text slider item -->
                            <div class="swiper-slide review-style-08">
                                <p class="fs-18">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                <div class="mt-20px">
                                    <img class="rounded-circle w-95px h-95px me-15px" src="https://via.placeholder.com/200x200" alt="">
                                    <div class="d-inline-block align-middle text-start">
                                        <div class="text-dark-gray fs-20 fw-600 ls-minus-05px">Leonel mooney</div>
                                        <div class="review-star-icon fs-18">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end text slider item -->
                        </div>
                    </div>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <!-- start slider navigation -->
                        <div class="slider-one-slide-prev-1 swiper-button-prev slider-navigation-style-04 bg-white text-dark-gray box-shadow-medium"><i class="fa-solid fa-arrow-left icon-small text-dark-gray"></i></div>
                        <div class="slider-one-slide-next-1 swiper-button-next slider-navigation-style-04 bg-white text-dark-gray box-shadow-medium"><i class="fa-solid fa-arrow-right icon-small text-dark-gray"></i></div>
                        <!-- end slider navigation -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

</BaseLayout>