---
import SidebarLayout from '@layouts/SidebarLayout.astro'
---

<SidebarLayout
  title='Terms and Conditions | SALVIS'
  description='Read the terms and conditions of using SALVIS website and services, including user responsibilities, limitations and legal information.'
>
  <div class='col-lg-9'>
    <h1 class='fw-bold'>General Terms and Conditions</h1>

    <h6 class='fw-bold'>Applicable to the sale of services by SALVIS, s.r.o.</h6>
    <h6 class='fw-bold'>Last updated: January 10, 2023</h6>
    <h2>1. Introductory provisions</h2>
    <ol>
      <li>
        These terms and conditions (hereinafter referred to as the "General Terms and Conditions")
        are issued in accordance with the provisions of Section 273 of the Commercial Code, as
        amended, and govern the contractual relationships arising between SALVIS, s.r.o., ID No.: 50
        133 641, with its registered office at Karadžičova 16, 821 08 Bratislava, registered in the
        Commercial Register of the District Court Bratislava I, Section Sro, File No.: 108683/B, on
        the one hand (hereinafter referred to as the "Supplier") and a natural person, legal entity,
        and other legal entities, on the other hand. Sro, file number: 108683/B, on the one hand
        (hereinafter referred to as the "Supplier") and a natural person, legal entity, and other
        legal entities, on the other hand (hereinafter referred to as the "Customer"), between whom
        a commercial relationship arises.
      </li>
      <li>
        The details of the legal relationship between the Supplier and the Customer, the subject of
        which is the provision of services by the Supplier in accordance with the provisions of §
        273 of Act No. 513/1991 Coll. Commercial Code, are determined by these General Terms and
        Conditions (hereinafter also referred to as "GTC").
      </li>
      <li>
        For the purposes of these GTC, a contract means an Order of the Customer accepted
        (confirmed) by the Supplier, the subject of which is the provision of services by the
        Supplier, concluded in writing (including by e-mail) by the Contracting Parties (hereinafter
        referred to as the "Order"). The prerequisite for concluding the Order is the unconditional
        acceptance of the Supplier's price offer by the Customer, as further specified in Article
        2(IV) of these GTC.
      </li>
      <li>
        For the purposes of these GTC, a service means any service offered by the Supplier
        (hereinafter referred to as the "Service" or "Services".
      </li>
      <li>
        For the purposes of these GTC, the Supplier's website means the Supplier's website
        https://salvis.eu/ (hereinafter referred to as the "website").
      </li>
    </ol>
    <h2>Conclusion of an order</h2>
    <ol>
      <li>
        The Customer may express their interest in the Service by telephone or e-mail using the
        contact details published on the Website, or in person, providing the information required
        by the Supplier to prepare a price quote for the provision of Services (hereinafter referred
        to as the "Request").
      </li>
      <li>
        Without undue delay after receiving the Request, the Supplier shall inform the Customer of
        any unavailability of the Service or deliver a price quote to the email address provided by
        the Customer.
      </li>
      <li>
        The Supplier's price quote (hereinafter referred to as the "Price Quote") shall include, in
        particular:
        <ul>
          <li>specification of the Service,</li>
          <li>scope of the Service,</li>
          <li>technical requirements for the performance of the Service,</li>
          <li>deadline for the performance of the Service and estimated duration,</li>
          <li>price,</li>
          <li>validity of the price quote.</li>
        </ul>
      </li>
      <li>
        The Customer is obliged to notify the Supplier of its acceptance in writing (by email) or by
        telephone within the period of validity of the Price Offer, otherwise the Price Offer shall
        expire. By accepting the Price Offer, the Customer also accepts these GTC in the version
        valid on the date of delivery of the Price Offer. Any expression of will by the Customer
        that clearly and unambiguously indicates that they accept the Supplier's Price Offer without
        reservation shall be considered acceptance of the Price Offer. Upon unconditional acceptance
        of the Price Offer by the Customer, the Order becomes complete and the contract is
        considered concluded.
      </li>
      <li>
        The Supplier may only commence the provision of Services after acceptance of the Order,
        delivery of the necessary technical requirements for the preparation of the service, and
        payment of a 100% advance payment in the amount of the Price specified in the Price Offer
        and in accordance with the terms and conditions set out in the GTC.
      </li>
    </ol>
    <h2>3. Rights and obligations of the contracting parties</h2>
    <ol>
      <li>
        The Supplier is obliged to provide the Customer with the Service in the quantity, quality,
        and within the deadline agreed upon by the Contracting Parties on the basis of the Order.
      </li>
      <li>
        The Supplier is obliged to provide the Customer with all documents required by applicable
        law (tax document) or other documents agreed upon by the Contracting Parties in writing or
        in electronic form no later than 30 (thirty) calendar days after the provision of the
        Service.
      </li>
      <li>
        The Customer is entitled to the provision of the Service in the quantity, quality, and
        within the deadline agreed upon by the Contracting Parties.
      </li>
      <li>
        The Customer is obliged to accept the Service and pay the agreed price within the due date.
      </li>
      <li>
        The Customer is obliged to provide the Supplier with all necessary cooperation to a
        reasonable extent necessary for the fulfillment of contractual obligations based on the
        Order.
      </li>
    </ol>
    <h2>4. Performance of obligations</h2>
    <ol>
      <li>
        The Supplier shall provide the Service to the Customer at the location specified by the
        Supplier. The Supplier shall bear all costs of material, technical, and personnel resources
        necessary for the provision of the Service, including their transport to the place of
        performance, unless the Parties agree otherwise.
      </li>
      <li>
        If the place of performance is the Supplier's premises, the Customer or other persons to
        whom the Supplier provides the Service may not:
      </li>
      <ul>
        <li>
          bring explosives, booby-trapped explosive devices and their imitations, alcohol, narcotic
          and psychotropic substances, unidentifiable biological and chemical substances into these
          premises,
        </li>
        <li>
          use photographic equipment and cameras in these premises without the Supplier's written
          permission,
        </li>
        <li>
          remove any objects, documents, information, and data that are the property of the Supplier
          or to which the Supplier has other rights without the Supplier's written permission.
        </li>
      </ul>

      <li>
        If the place of performance is the Contractor's premises, the Customer and other persons are
        obliged to comply with all and any regime measures of which they will be informed upon
        entering the Contractor's premises or at any time during their stay therein.
      </li>
      <li>
        The agreed performance date is binding for the Contracting Parties and may only be changed
        on the basis of a telephone agreement or an agreement between the Contracting Parties in the
        form of e-mail communication.
      </li>
      <li>
        The Supplier provides the Services in accordance with generally binding legal regulations
        and has all the permits and licenses necessary for their provision.
      </li>
    </ol>

    <h2>5. Price, invoicing, and payment terms</h2>
    <ol>
      <li>
        The price of the Service may be agreed in the Order as:
        <ul>
          <li>
            the price of an individual Service excluding VAT, if the subject of the Order is the
            delivery of several separate Services.
          </li>
          <li>
            the total price of the Service excluding VAT, if the subject of the Order is the
            delivery of the Service as a whole.
          </li>
        </ul>
      </li>
      <li>
        he Customer is obliged to pay the Supplier an advance payment of 100% of the price of the
        Service within 15 (fifteen) days of receipt of the advance invoice. Receipt of the advance
        invoice means the date of sending the invoice to the Supplier.
      </li>
      <li>
        The invoice must be issued in accordance with generally binding legal regulations. The
        Supplier's invoice will be issued and the Customer's payment will be made in euros, unless
        another currency is agreed in the Order.
      </li>
      <li>
        The Supplier shall deliver the issued invoices to the Customer electronically (in .pdf
        format) to the Customer's e-mail address, and such invoice shall be deemed delivered to the
        Customer on the date of the Customer's confirmation of receipt of the invoice, but no later
        than the 3rd (third) working day from the date of its dispatch by the Supplier.
      </li>
      <li>
        Any invoice issued by the Supplier shall be payable within 15 (fifteen) calendar days from
        the date of its delivery to the Customer and shall be paid by bank transfer or cash deposit
        to the Supplier's account number specified in the invoice. The invoice payment period shall
        commence on the day following the delivery of the invoice to the Customer. If the last day
        of the invoice payment period falls on a non-working day, the invoice shall be payable on
        the next working day.
      </li>
      <li>
        The date of payment shall be the date on which the invoiced amount is credited to the
        Supplier's account.
      </li>
    </ol>
    <h2>6. Suspension of services and termination of the contract</h2>
    <ol>
      <li>
        If the Customer is in default with the payment of any due invoice of the Supplier, the
        Supplier is entitled to refuse or suspend the provision of Services, without being in
        default with the fulfillment of its obligations towards the Customer. The Supplier is
        obliged to notify the Customer if it refuses or suspends the provision of Services. Refusal
        to perform shall not affect the Supplier's right to payment of the agreed price for the
        Services provided, nor shall it affect the right to compensation for damages or other rights
        that the Supplier has against the Customer under these GTC or generally binding legal
        regulations. The exercise of the right to refuse or suspend the provision of Services is
        solely a matter of the Supplier's independent decision, and the Supplier is not obliged to
        do so. Similarly, the Supplier may decide at any time to continue with the performance of
        the Order despite the Customer's delay.
      </li>
      <li>
        The Order shall expire:
        <ul>
          <li>
            upon the provision of the Services and the fulfillment of the related contractual
            obligations of the Contracting Parties,
          </li>
          <li>upon the expiration of the period for which the Order is concluded,</li>
          <li>by written agreement of the Contracting Parties,</li>
          <li>by written notice of termination,</li>
          <li>by written withdrawal from the Order.</li>
        </ul>
      </li>
      <li>
        Either Contracting Party has the right to withdraw from the Order immediately by unilateral
        written notice
      </li>
      <ul>
        <li>
          in the event of a material breach of legal obligations by the other Contracting Party, if
          it notifies the other Contracting Party without undue delay after becoming aware of such a
          breach, or
        </li>
        <li>
          in the event of a minor breach of the GTC, if the other Contracting Party breaches any of
          its legal or contractual obligations and fails to remedy the situation even within an
          additional reasonable period of time based on a written request.
        </li>
      </ul>

      <li>
        A material breach of the GTC and the Order by the Supplier shall include, but is not limited
        to:
      </li>
      <ul>
        <li>
          a delay by the Supplier in the proper provision of the Services of more than 30 days,
        </li>
        <li>
          interruption or suspension of the provision of the Services in violation of the Order or
          these GTC.
        </li>
      </ul>

      <li>
        A material breach of the GTC and the Order by the Customer shall include, but is not limited
        to:
      </li>
      <ul>
        <li>
          a delay by the Customer in the payment of any due receivable of the Supplier by more than
          30 days,
        </li>
        <li>
          if the Customer acts in any way contrary to the principles of fair business conduct, acts
          contrary to legal regulations, or damages the good name and legitimate interests and
          reputation of the Supplier by its actions,
        </li>
        <li>
          if the Customer has been declared bankrupt, has been allowed to restructure, is in
          liquidation, or bankruptcy proceedings against the Customer have been suspended due to
          lack of assets, or bankruptcy has been canceled due to lack of assets,
        </li>
        <li>breach of trade secrets or confidentiality of confidential information,</li>
        <li>other cases specified in these GTC.</li>
      </ul>
    </ol>

    <h2>7. Protection of personal data and confidential information</h2>
    <ol>
      <li>
        The Contracting Parties are obliged to maintain confidentiality regarding personal data with
        which they come into contact during the fulfillment of the Order and to ensure its
        protection in accordance with generally binding legal regulations. This confidentiality
        obligation shall remain in force even after the termination of the Order.
      </li>
      <li>
        The Contracting Parties shall bind all natural persons who come into contact with personal
        data in the performance of the Order to maintain confidentiality so that the confidentiality
        obligation remains in force even after the termination of the employment relationship or
        similar working relationship of such natural person.
      </li>
      <li>
        For the purposes of the Order, all facts, information and data that are/will be specified in
        the Order and/or that will be specified in its Addenda and Annexes and/or that the
        Contracting Parties have learned/will learn in connection with the Order, its fulfillment,
        and pre-contractual negotiations related to it (hereinafter referred to as "Confidential
        Information".
      </li>
      <li>
        The Contracting Parties are obliged to maintain confidentiality regarding all Confidential
        Information, unless otherwise provided by the relevant generally binding legal regulations.
        This obligation shall not expire even after the termination of the Order.
      </li>
      <li>
        The Contracting Parties may not use Confidential Information for themselves or for third
        parties, provide it to third parties, or allow third parties access to Confidential
        Information without the prior written consent of the other Contracting Party. Members of the
        bodies of the contracting partners, auditors or legal advisors of the Contracting Parties
        who are bound by a duty of confidentiality under generally binding legal regulations with
        regard to the information made available to them shall not be considered third parties.
      </li>
      <li>
        The obligation to maintain confidentiality of Confidential Information does not apply to:
        <ul>
          <li>
            information that is already publicly known on the date of conclusion of the Order or
            that can already be obtained from commonly available information sources on the date of
            conclusion of the Order,
          </li>
          <li>
            information that becomes publicly known after the conclusion of the Order or that can be
            obtained from commonly available information sources after that date,
          </li>
          <li>
            cases where, on the basis of generally binding legal regulations or on the basis of an
            obligation imposed by a procedure in accordance with generally binding legal
            regulations, the Contracting Party must provide Confidential Information. In such a
            case, the Contracting Party concerned is obliged to inform the other Contracting Party
            of the emergence of its obligation to provide Confidential Information, specifying the
            scope of this obligation without undue delay.
          </li>
        </ul>
      </li>
      <li>
        The use of necessary Confidential Information in court, arbitration, administrative, or
        other proceedings conducted for the purpose of exercising rights under these GTC shall not
        be considered a breach of the obligation to maintain confidentiality of Confidential
        Information. The obligation to maintain this confidentiality shall remain in force even
        after the termination of the Order.
      </li>
    </ol>
    <h2>8. Special provisions</h2>
    <p>
      Without the prior written consent of the Supplier, the Customer may not assign any rights
      (including claims) to third parties that arise against the Supplier on the basis of the Order.
    </p>
    <ol>
      <li>
        Any legal acts that directly or indirectly cause an encumbrance on the Supplier's rights
        (including claims), set-off, or assignment of any rights of the Supplier (including claims)
        without the prior written consent of the Supplier shall be considered invalid, unless the
        Supplier subsequently approves them in writing.
      </li>
    </ol>
    <h2>9. Mutual communication</h2>
    <ol>
      <li>
        Unless otherwise specified in the Order or in these GTC, the Supplier's documents and the
        Customer's documents (hereinafter referred to as "documents") shall be deemed delivered:
      </li>
      <ul>
        <li>
          in the case of delivery by e-mail to e-mail addresses, upon receipt of a legible form of
          the document in the electronic mailboxes of the Contracting Parties. The Customer shall
          deliver e-mails to the Supplier to the e-mail address of the person authorized by the
          Supplier in contractual matters specified in the Price Offer,
        </li>
        <li>
          in the case of personal delivery of documents, by handing over the document to an
          authorized person or another person authorized to receive documents on behalf of the
          Supplier or the Customer and by the signature of such person on the delivery note or a
          copy of the delivered document, or by demonstrable refusal to accept the document by such
          person,
        </li>
        <li>
          in the case of delivery by a postal company authorized to provide postal services pursuant
          to Act No. 507/2001 Coll. on Postal Services, as amended, by delivery to the address of
          the Supplier or the Customer, and in the case of registered mail, by handing over the
          document to a person authorized to receive documents from the Supplier or the Customer and
          by that person signing the delivery note.
        </li>
      </ul>

      <li>
        If generally binding legal regulations valid in the territory of the Slovak Republic or
        these GTC require any actions by the Supplier or the Customer to be in written form, this
        form shall also be preserved if these actions are performed in electronic form (e-mail
        message, etc.). the Customer to be in written form, this form shall also be retained if
        these acts are performed in electronic form (e-mail message, etc.), with the exception of
        acts leading to the termination of the Order.
      </li>
    </ol>
    <h2>10. Circumstances excluding the Supplier's liability</h2>
    <ol>
      <li>
        The Supplier shall not be liable for failure to fulfill its obligations under the GTC if it
        proves that the failure was the result of extraordinary, unforeseeable, or unavoidable
        events and obstacles, nor their consequences could have been foreseen at the time of
        concluding the Order, and at the same time the obstacles and their consequences could not
        have been prevented, avoided or overcome.
      </li>
      <li>
        The Supplier shall notify the Customer of the existence of circumstances excluding liability
        due to force majeure that prevent it from properly fulfilling its obligations without undue
        delay after becoming aware of them.
      </li>
      <li>
        Unforeseeable and unavoidable obstacles include, but are not limited to:
        <ul>
          <li>
            meteorological conditions or phenomena that could not have been reasonably foreseen,
            taking into account the Supplier's experience,
          </li>
          <li>
            failure to secure or delay in securing material or personnel resources that could not
            have been reasonably foreseen or avoided or mitigated.
          </li>
        </ul>
      </li>
      <li>
        The effects of circumstances excluding the Supplier's liability are limited only to the
        duration of the obstacle with which these effects are associated.
      </li>
    </ol>
    <h2>11. Liability and compensation for damages</h2>
    <ol>
      <li>
        In the event of a breach of obligations under these GTC or under generally binding legal
        regulations, the Contracting Party that breached the obligation shall be liable for damages
        caused to the other Contracting Party in accordance with generally binding legal
        regulations.
      </li>
      <li>
        If the customer withdraws from the Order, the provider is entitled to compensation for all
        demonstrable costs incurred in providing the service until the withdrawal from the contract,
        but not exceeding the agreed price. Common and final provisions
      </li>
    </ol>
    <p>
      Issues not expressly addressed by these GTC shall be governed by the laws of the Slovak
      Republic, in particular Act No. 513/1991 Coll. Commercial Code, as amended.
    </p>
    <h2>Common and final provisions</h2>
    <p>
      Issues not expressly addressed by these GTC shall be governed by the laws of the Slovak
      Republic, in particular Act No. 513/1991 Coll. Commercial Code, as amended.
    </p>
    <p>
      Each provision of these GTC shall be interpreted in such a way as to be effective and valid
      under applicable generally binding legal regulations. However, if it is unenforceable,
      invalid, or ineffective under applicable generally binding legal regulations, the other
      provisions of these GTC shall remain unaffected.
    </p>
    <p>
      If these GTC contain references to relevant generally binding legal regulations valid at the
      time of publication of this version of the GTC, which have been amended or replaced by other
      generally binding legal regulations during their validity, these references shall be
      considered references to the generally binding legal regulations that replaced them in their
      current wording.
    </p>
  </div>
</SidebarLayout>
