---
import SidebarLayout from '../layouts/SidebarLayout.astro'
---

<SidebarLayout>
  <h1 class='fw-bold'>Všeobecné obchodné podmienky</h1>

  <h4 class='fw-bold'>Platné pre predaj služieb spoločnosti SALVIS, s.r.o.</h4>
  <h4 class='fw-bold'>Naposledy aktualizované: 10. január 2023</h4>
  <h2>1. Úvodné ustanovenia</h2>
  <ol>
    <li>
      Tieto obchodné podmienky (ďalej len „Všeobecné obchodné podmienky“) sú vydané v súlade s<br />
      ustanovením § 273 Obchodného zákonníka, v platnom znení, a upravujú zmluvné vzťahy<br />
      vznikajúce medzi spoločnosťou SALVIS, s.r.o., IČO: 50 133 641, so sídlom Karadžičova 16,<br />
      821 08 Bratislava, zapísanou v Obchodnom registri Okresného súdu Bratislava I, v Odd. Sro,<br
      />
      vložka číslo: 108683/B na strane jednej (ďalej len ako „Dodávateľ“) a fyzickou osobou,<br />
      právnickou osobou a ďalšími subjektmi práva, na strane druhej (ďalej len ako<br />
      „Objednávateľ“), medzi ktorými vzniká obchodnoprávny vzťah.
    </li>
    <li>
      Podrobnosti právneho vzťahu medzi Dodávateľom a Objednávateľom, ktorého predmetom je<br />
      poskytnutie služieb Dodávateľom v súlade s ustanovením § 273 zákona č. 513/1991 Zb.<br />
      Obchodný zákonník sú určené týmito Všeobecnými obchodnými podmienkami (ďalej aj len ako<br />
      „VOP“).
    </li>
    <li>
      Na účely týchto VOP sa zmluvou rozumie Objednávka objednávateľa akceptovaná (potvrdená)<br />
      dodávateľom, ktorej predmetom je poskytnutie služieb Dodávateľom uzavretá v písomnej (aj<br />
      e-mailovej) forme Zmluvnými stranami (ďalej len ako „Objednávka“). Predpokladom uzavretia<br
      />
      Objednávky je bezvýhradná akceptácia cenovej ponuky Dodávateľa zo strany Objednávateľa,<br />
      ako sa ďalej uvádza v článku 2 ods. IV. týchto VOP.
    </li>
    <li>
      Na účely týchto VOP sa službou rozumie akákoľvek služba, ktorá je v ponuke Dodávateľa<br />
      (ďalej len ako „Služba“ alebo „Služby“).
    </li>
    <li>
      Na účely týchto VOP sa webovým sídlom Dodávateľa rozumie internetová stránka Dodávateľa<br />
      https://salvis.sk/ (ďalej len ako „webové sídlo“).
    </li>
  </ol>
  <h2>2. Uzavretie objednávky</h2>
  <ol>
    <li>
      Objednávateľ môže prejaviť svoj záujem o Službu telefonicky alebo e-mailom s využitím<br />
      kontaktných údajov zverejnených na webovom sídle, prípadne osobne a uvedením údajov<br />
      požadovaných Dodávateľom nevyhnutných pre vypracovanie cenovej ponuky na poskytnutie<br />
      Služieb (ďalej len ako „Požiadavka“).
    </li>
    <li>
      Dodávateľ bez zbytočného odkladu po prijatí Požiadavky informuje Objednávateľa o prípadnej<br
      />
      nedostupnosti Služby alebo mu na ním uvedenú e-mailovú adresu doručí cenovú ponuku.
    </li>
    <li>
      Cenová ponuka Dodávateľa (ďalej len ako „Cenová ponuka“) obsahuje najmä:
      <ul>
        <li>špecifikáciu Služby,</li>
        <li>rozsah Služby,</li>
        <li>technické požiadavky na vyhotovenie Služby,</li>
        <li>termín vypracovania Služby a predpokladané trvanie,</li>
        <li>cenu,</li>
        <li>platnosť cenovej ponuky.</li>
      </ul>
    </li>
    <li>
      Objednávateľ je povinný v lehote platnosti Cenovej ponuky písomne (e-mailom) alebo<br />
      telefonicky oznámiť Dodávateľovi jej akceptáciu, inak Cenová ponuka stratí platnosť.<br />
      Akceptáciou Cenovej ponuky Objednávateľ súčasne akceptuje tieto VOP v znení, v akom boli<br />
      platné ku dňu dodania Cenovej ponuky. Za akceptáciu Cenovej ponuky sa považuje akýkoľvek<br />
      prejav vôle Objednávateľa, z ktorého určito a zrozumiteľne vyplýva, že Cenovú ponuku<br />
      Dodávateľa bez výhrad prijíma. Bezvýhradným akceptovaním Cenovej ponuky zo strany<br />
      Objednávateľa sa Objednávka stáva úplnou a zmluva sa považuje za uzatvorenú.
    </li>
    <li>
      Dodávateľ môže začať s poskytovaním Služieb len po akceptovaní Objednávky, doručení<br />
      potrebných technických požiadaviek na vypracovanie služby a po zaplatení 100% zálohovej<br />
      platby vo výške Ceny ustanovenej v Cenovej ponuke a v súlade s podmienkami uvedenými<br />
      vo VOP.
    </li>
  </ol>
  <h2>3. Práva a povinnosti zmluvných strán</h2>
  <ol>
    <li>
      Dodávateľ je povinný na základe Objednávky poskytnúť Objednávateľovi Službu v množstve,<br />
      kvalite a termíne dohodnutom Zmluvnými stranami.
    </li>
    <li>
      Dodávateľ je povinný odovzdať Objednávateľovi najneskôr do 30 (tridsať) kalendárnych dní<br />
      po poskytnutí Služby v písomnej alebo elektronickej podobe všetky doklady predpísané<br />
      platnými právnymi predpismi (daňový doklad), prípadne iné doklady na dodaní ktorých sa<br />
      zmluvné strany dohodli.
    </li>
    <li>
      Objednávateľ má právo na poskytnutie Služby v množstve, kvalite a termíne dohodnutom<br />
      Zmluvnými stranami.
    </li>
    <li>Objednávateľ je povinný Službu prijať a zaplatiť dohodnutú cenu v lehote splatnosti.</li>
    <li>
      Objednávateľ je povinný poskytovať Dodávateľovi v primeranom rozsahu všetku nevyhnutnú<br />
      súčinnosť potrebnú pre plnenie zmluvných povinností na základe Objednávky.
    </li>
  </ol>
  <h2>4. Plnenie povinností</h2>
  <ol>
    <li>
      Dodávateľ poskytne Objednávateľovi Službu v mieste určenom Dodávateľom. Dodávateľ znáša<br />
      všetky náklady na materiálno-technické a personálne zabezpečenie, ktoré je potrebné na<br />
      poskytnutie Služby vrátane ich prepravy na miesto plnenia, ibaže sa Zmluvné strany dohodli<br
      />
      inak.
    </li>
    <li>
      Ak sú miestom plnenia priestory Dodávateľa, nesmie Objednávateľ ani iné osoby, ktorým<br />
      Dodávateľ Služby poskytuje:
    </li>
    <ul>
      <li>
        vnášať do týchto priestorov, výbušniny, nástražné výbušné systémy a ich napodobeniny,<br />
        alkohol, omamné a psychotropné látky, neidentifikovateľné biologické a chemické látky,
      </li>
      <li>
        používať v týchto priestoroch fotografické prístroje a kamery bez písomného povolenia<br />
        Dodávateľa,
      </li>
      <li>
        bez písomného povolenia Dodávateľa vynášať akékoľvek predmety, dokumenty, informácie a<br />
        údaje, ktoré sú vo vlastníctve Dodávateľa alebo ku ktorým má Dodávateľ iné právo.
      </li>
    </ul>

    <li>
      Ak sú miestom plnenia priestory Dodávateľa, Objednávateľ ako aj iné osoby, sú povinní<br />
      dodržiavať všetky a akékoľvek režimové opatrenia, o ktorých budú pri vstupe do priestorov<br
      />
      Dodávateľa alebo kedykoľvek počas pobytu v nich informovaní.
    </li>
    <li>
      Dohodnutý termín plnenia je pre Zmluvné strany záväzný a môže byť menený iba na základe<br />
      telefonickej dohody príp. dohodou Zmluvných strán vo forme e-mailovej komunikácie.
    </li>
    <li>
      Dodávateľ poskytuje Služby v súlade so všeobecne záväznými právnymi predpismi a má všetky<br
      />
      povolenia a licencie potrebné na ich poskytovanie.
    </li>
  </ol>

  <h2>5. Cena, fakturačné a platobné podmienky</h2>
  <ol>
    <li>
      Cena Služby môže byť v Objednávke dohodnutá ako:
      <ul>
        <li>
          cena jednotlivej Služby uvedená bez DPH, ak predmetom Objednávky je dodanie viacerých<br
          />
          samostatných Služieb.
        </li>
        <li>
          celková cena Služby uvedená bez DPH, ak predmetom Objednávky je dodanie Služby ako<br />
          celku.
        </li>
      </ul>
    </li>
    <li>
      Objednávateľ je povinný zaplatiť Dodávateľovi zálohovú platbu vo výške 100% ceny Služby do<br
      />
      15 (pätnásť) dní od prijatia zálohovej faktúry. Prijatím zálohovej faktúry sa rozumie<br />
      dátum odoslania faktúry Dodávateľovi.
    </li>
    <li>
      Faktúra musí byť vyhotovená v súlade so všeobecne záväznými právnymi predpismi. Faktúra<br />
      Dodávateľa bude vystavená a platba Objednávateľa bude realizovaná v eurách, pokiaľ v<br />
      Objednávke nie je dohodnutá iná mena.
    </li>
    <li>
      Dodávateľ doručí vystavené faktúry Objednávateľovi elektronicky (vo formáte .pdf) na<br />
      e-mailovú adresu Objednávateľa, pričom takáto faktúra sa považuje za doručenú<br />
      Objednávateľovi dňom potvrdenia Objednávateľa o prijatí faktúry, najneskôr však 3. (tretí)<br
      />
      pracovný deň odo dňa jej odoslania Dodávateľom.
    </li>
    <li>
      Akákoľvek faktúra vystavená Dodávateľom bude splatná v lehote do 15 (pätnásť) kalendárnych<br
      />
      dní odo dňa jej doručenia Objednávateľovi, a zaplatená bude bankovým prevodom alebo<br />
      hotovostným vkladom na číslo účtu Dodávateľa uvedené vo faktúre. Lehota splatnosti faktúry<br
      />
      začína plynúť dňom nasledujúcim po doručení faktúry Objednávateľovi. Ak posledný deň<br />
      lehoty splatnosti faktúry pripadne na deň pracovného pokoja, faktúra bude splatná v<br />
      najbližší nasledujúci pracovný deň.
    </li>
    <li>Za deň uhradenia sa považuje deň pripísania fakturovanej čiastky na účet Dodávateľa.</li>
  </ol>
  <h2>6. Prerušenie poskytovania služieb a zánik zmluvy</h2>
  <ol>
    <li>
      Ak sa Objednávateľ dostane do omeškania so zaplatením akejkoľvek splatnej faktúry<br />
      Dodávateľa, Dodávateľ je oprávnený odoprieť alebo prerušiť poskytovanie Služieb, pričom sa<br
      />
      nedostane do omeškania so splnením svojich záväzkov, ktoré má voči Objednávateľovi.<br />
      Dodávateľ je povinný Objednávateľovi oznámiť, ak poskytovanie Služieb odopiera alebo<br />
      prerušuje. Odopretie plnenia nemá vplyv na právo Dodávateľa na zaplatenie dohodnutej ceny<br
      />
      za poskytnuté Služby a nemá ani vplyv na právo na náhradu škody ani vplyv na ostatné<br />
      práva, ktoré má Dodávateľ podľa týchto VOP alebo všeobecne záväzných právnych predpisov<br />
      voči Objednávateľovi. Uplatnenie práva odoprieť alebo prerušiť poskytovanie Služieb je<br />
      výlučne vecou samostatného rozhodnutia Dodávateľa a Dodávateľ nemá povinnosť tak urobiť.<br />
      Rovnako sa Dodávateľ môže kedykoľvek rozhodnúť, že v plnení Objednávky bude pokračovať<br />
      napriek omeškaniu Objednávateľa.
    </li>
    <li>
      Objednávka zaniká:
      <ul>
        <li>poskytnutím Služieb a splnením súvisiacich zmluvných povinností Zmluvných strán,</li>
        <li>uplynutím doby, na ktorú je Objednávka uzavretá,</li>
        <li>písomnou dohodou Zmluvných strán,</li>
        <li>písomnou výpoveďou,</li>
        <li>písomným odstúpením od Objednávky.</li>
      </ul>
    </li>
    <li>
      Ktorákoľvek Zmluvná strana má právo od Objednávky okamžite odstúpiť jednostranným písomným<br
      />
      oznámením
    </li>
    <ul>
      <li>
        v prípade podstatného porušenia zákonných povinností, druhou Zmluvnou stranou, ak to<br />
        oznámi druhej Zmluvnej strane bez zbytočného odkladu po tom, čo sa o takomto porušení<br />
        dozvedela, alebo
      </li>
      <li>
        v prípade nepodstatného porušenia VOP, ak druhá Zmluvná strana poruší niektorú zo<br />
        svojich zákonných alebo zmluvných povinností a nevykoná nápravu ani v dodatočnej<br />
        primeranej lehote na základe písomnej výzvy.
      </li>
    </ul>

    <li>
      Za podstatné porušenie VOP a Objednávky zo strany Dodávateľa sa považuje najmä, avšak<br />
      nielen:
    </li>
    <ul>
      <li>omeškanie Dodávateľa s riadnym poskytnutím Služieb o viac ako 30 dní,</li>
      <li>
        prerušenie alebo pozastavenie poskytovania Služieb v rozpore s Objednávkou alebo<br />
        týmito VOP.
      </li>
    </ul>

    <li>
      Za podstatné porušenie VOP a Objednávky zo strany Objednávateľa sa považuje najmä, avšak<br />
      nielen:
    </li>
    <ul>
      <li>
        omeškanie Objednávateľa s úhradou akejkoľvek splatnej pohľadávky Dodávateľa o viac ako<br />
        30 dní,
      </li>
      <li>
        ak Objednávateľ koná akýmkoľvek spôsobom v rozpore so zásadami poctivého obchodného<br />
        styku, koná v rozpore s právnymi predpismi, alebo svojím konaním poškodzuje dobré meno<br />
        a oprávnené záujmy a meno Dodávateľa,
      </li>
      <li>
        ak voči Objednávateľovi bol vyhlásený konkurz, povolená reštrukturalizácia, je v<br />
        likvidácii, alebo bolo proti Objednávateľovi zastavené konkurzné konanie pre<br />
        nedostatok majetku, alebo zrušený konkurz pre nedostatok majetku,
      </li>
      <li>
        porušenie obchodného tajomstva alebo mlčanlivosti o informáciách dôverného charakteru,
      </li>
      <li>iné prípady špecifikované v týchto VOP.</li>
    </ul>
  </ol>

  <h2>7. Ochrana osobných údajov a dôverných informácií</h2>
  <ol>
    <li>
      Zmluvné strany sú povinné zachovávať mlčanlivosť o osobných údajoch, s ktorými prídu do<br />
      styku pri plnení Objednávky a zabezpečiť ich ochranu v súlade so všeobecne záväznými<br />
      právnymi predpismi. Táto povinnosť mlčanlivosti trvá aj po zániku Objednávky.
    </li>
    <li>
      Zmluvné strany zaviažu mlčanlivosťou o osobných údajoch všetky fyzické osoby, ktoré prídu<br
      />
      pri plnení Objednávky do styku s osobnými údajmi tak, aby povinnosť mlčanlivosti trvala aj<br
      />
      po skončení pracovného pomeru alebo obdobného pracovného vzťahu tejto fyzickej osoby.
    </li>
    <li>
      Na účely Objednávky sa za dôverné informácie považujú všetky skutočnosti, informácie a<br />
      údaje, ktoré sú/budú uvedené v Objednávke a/alebo ktoré budú uvedené v jej Dodatkoch a<br />
      Prílohách a/alebo ktoré sa Zmluvné strany dozvedeli/dozvedia v súvislosti s Objednávkou,<br />
      jej plnením a predkontraktačnými rokovaniami s ňou súvisiacimi (ďalej len ako „Dôverné<br />
      informácie“).
    </li>
    <li>
      Zmluvné strany sú povinné zachovávať mlčanlivosť o všetkých Dôverných informáciách, ibaže<br
      />
      by z príslušných všeobecne záväzných právnych predpisov vyplývalo inak. Tento záväzok<br />
      nezaniká ani po zániku Objednávky.
    </li>
    <li>
      Zmluvné strany nesmú Dôverné informácie bez predchádzajúceho písomného súhlasu druhej<br />
      Zmluvnej strany využiť pre seba alebo pre tretie osoby, poskytnúť tretím osobám a umožniť<br
      />
      prístup tretích osôb k Dôverným informáciám. Za tretie osoby sa nepokladajú členovia<br />
      orgánov zmluvných partnerov, audítori alebo právni poradcovia Zmluvných strán, ktorí sú<br />
      ohľadne im sprístupnených informácií viazaní povinnosťou mlčanlivosti na základe všeobecne<br
      />
      záväzných právnych predpisov.
    </li>
    <li>
      Povinnosť zachovávať mlčanlivosť o Dôverných informáciách sa nevzťahuje na:
      <ul>
        <li>
          informácie, ktoré už sú v deň uzavretia Objednávky verejne známe alebo ktoré je možné<br
          />
          už v deň uzavretia Objednávky získať z bežne dostupných informačných prostriedkov,
        </li>
        <li>
          informácie, ktoré sa stanú po uzavretí Objednávky verejne známymi alebo ktoré možno po<br
          />
          tomto dni získať z bežne dostupných informačných prostriedkov,
        </li>
        <li>
          prípady, kedy na základe všeobecne záväzných právnych predpisov alebo na základe<br />
          povinnosti uloženej postupom podľa všeobecne záväzných právnych predpisov musí Zmluvná<br
          />
          strana poskytnúť Dôverné informácie. V takom prípade je dotknutá Zmluvná strana<br />
          povinná informovať druhú Zmluvnú stranu o vzniku jej povinnosti poskytnúť Dôverné<br />
          informácie s uvedením rozsahu tejto povinnosti bez zbytočného odkladu.
        </li>
      </ul>
    </li>
    <li>
      Za porušenie povinnosti zachovávať mlčanlivosť o Dôverných informáciách sa nepokladá<br />
      použitie potrebných Dôverných informácií v prípadoch súdnych, rozhodcovských, správnych<br />
      alebo iných konaní vedených za účelom uplatňovania práv podľa týchto VOP. Povinnosť<br />
      zachovávať túto mlčanlivosť platí aj po zániku Objednávky.
    </li>
  </ol>
  <h2>8. Osobitné ustanovenia</h2>
  <p>
    Objednávateľ bez predchádzajúceho písomného súhlasu Dodávateľa nemôže realizovať akékoľvek<br />
    postúpenie práv (vrátane pohľadávok) na tretie osoby, ktoré mu vzniknú voči Dodávateľovi na<br
    />
    základe Objednávky.
  </p>
  <ol>
    <li>
      Akékoľvek právne úkony, ktoré priamo alebo nepriamo spôsobujú vznik bremena k právam<br />
      Dodávateľa (vrátane pohľadávok), započítanie, alebo postúpenie akýchkoľvek práv Dodávateľa<br
      />
      (vrátane pohľadávok) bez predchádzajúceho písomného súhlasu Dodávateľa budú považované za<br
      />
      neplatné, ibaže ich Dodávateľ v písomnej forme dodatočne schváli.
    </li>
  </ol>
  <h2>9. Vzájomná komunikácia</h2>
  <ol>
    <li>
      Ak v Objednávke alebo v týchto VOP nie je uvedené inak, písomnosti Dodávateľa a písomnosti<br
      />
      Objednávateľa (ďalej len ako „písomnosti“) sa považujú za doručené:
    </li>
    <ul>
      <li>
        v prípade doručovania elektronickou poštou na e-mailové adresy prijatím čitateľnej<br />
        formy písomnosti v elektronických schránkach Zmluvných strán. Objednávateľ bude<br />
        elektronickú poštu Dodávateľovi doručovať na e-mailovú adresu osoby poverenej<br />
        Dodávateľom vo veciach zmluvných uvedenú v Cenovej ponuke,
      </li>
      <li>
        v prípade osobného doručovania písomností odovzdaním písomnosti oprávnenej osobe alebo<br />
        inej osobe oprávnenej prijímať písomnosti za Dodávateľa resp. Objednávateľa a podpisom<br />
        takej osoby na doručenke alebo kópii doručovanej písomnosti, alebo preukázateľným<br />
        odmietnutím prevzatia písomnosti takou osobou,
      </li>
      <li>
        v prípade doručovania prostredníctvom poštového podniku oprávneného na poskytovanie<br />
        poštových služieb podľa zákona č. 507/2001 Z. z. o poštových službách v znení<br />
        neskorších predpisov doručením na adresu Dodávateľa resp. Objednávateľa a v prípade<br />
        doporučenej zásielky odovzdaním písomnosti osobe oprávnenej prijímať písomnosti<br />
        Dodávateľa resp. Objednávateľa a podpisom takej osoby na doručenke.
      </li>
    </ul>

    <li>
      Ak všeobecne záväzné právne predpisy platné na území Slovenskej republiky alebo tieto VOP<br
      />
      vyžadujú na realizáciu akýchkoľvek úkonov Dodávateľa resp. Objednávateľa písomnú formu, je<br
      />
      táto forma zachovaná aj vtedy, ak sú tieto úkony urobené prostredníctvom elektronickej<br />
      formy (e-mail správa a pod.), s výnimkou úkonov smerujúcich k zániku Objednávky.
    </li>
  </ol>
  <h2>10. Okolnosti vylučujúce zodpovednosť dodávateľa</h2>
  <ol>
    <li>
      Dodávateľ nenesie zodpovednosť za nesplnenie svojich povinností vyplývajúcich z VOP ak<br />
      preukáže, že nesplnenie nastalo následkom mimoriadnych, nepredvídateľných alebo<br />
      neodvrátiteľných udalostí a prekážky, ani ich následky nebolo možné v čase uzavretia<br />
      Objednávky predvídať, a zároveň prekážkam, ani ich následkom sa nedalo zabrániť, vyhnúť,<br />
      ani ich prekonať.
    </li>
    <li>
      Dodávateľ oznámi Objednávateľovi existenciu okolnosti vylučujúcej zodpovednosť z dôvodu<br />
      vyššej moci, ktorá mu bráni v riadnom splnení povinnosti bez zbytočného odkladu po tom, čo<br
      />
      sa o tom dozvedel.
    </li>
    <li>
      Medzi nepredvídateľné a neodvrátiteľné prekážky patria najmä, nie však výlučne:
      <ul>
        <li>
          meteorologické podmienky alebo javy, ktoré nebolo možné rozumne predvídať s<br />
          prihliadnutím na skúsenosti Dodávateľa,
        </li>
        <li>
          nezabezpečenie alebo omeškanie pri zabezpečovaní materiálneho alebo personálneho<br />
          zabezpečenia, ktoré nebolo možné rozumne predvídať, resp. nebolo možné sa tomu vyhnúť<br
          />
          alebo zmierniť dôsledky.
        </li>
      </ul>
    </li>
    <li>
      IV. Účinky okolností vylučujúcich zodpovednosť Dodávateľa sú obmedzené iba na dobu, dokiaľ<br
      />
      trvá prekážka, s ktorou sú tieto účinky spojené.
    </li>
  </ol>
  <h2>11. Zodpovednosť a náhrada škody</h2>
  <ol>
    <li>
      V prípade porušenia povinností podľa týchto VOP alebo podľa všeobecne záväzných právnych<br />
      predpisov zodpovedá Zmluvná strana, ktorá danú povinnosť porušila, za škodu spôsobenú<br />
      druhej Zmluvnej strane v súlade so všeobecne záväznými právnymi predpismi.
    </li>
    <li>
      Ak objednávateľ odstúpi od Objednávky má poskytovateľ nárok na náhradu všetkých<br />
      preukázateľne vynaložených nákladov na poskytnutie služby do doby odstúpenia od zmluvy,<br />
      nanajvýš však do výšky dohodnutej ceny. spoločné a záverečné ustanovenia
    </li>
  </ol>
  <p>
    Otázky, ktoré nie sú výslovne riešené týmito VOP sa riadia právnym poriadkom Slovenskej<br />
    republiky, najmä zákonom č. 513/1991 Zb. Obchodný zákonník, v znení neskorších predpisov.
  </p>
  <p>
    Každé ustanovenie týchto VOP sa interpretuje tak, aby bolo účinné a platné podľa platných<br />
    všeobecne záväzných právnych predpisov. Pokiaľ by však bolo podľa platných všeobecne<br />
    záväzných právnych predpisov nevykonateľné, neplatné alebo neúčinné, nebudú tým dotknuté<br />
    ostatné ustanovenia týchto VOP.
  </p>
  <p>
    Pokiaľ sú v týchto VOP uvedené odkazy na príslušné všeobecne záväzné právne predpisy platné<br
    />
    v čase vydania tejto verzie VOP, ktoré boli v priebehu ich platnosti zmenené alebo nahradené<br
    />
    inými všeobecne záväznými právnymi predpismi, považujú sa tieto odkazy za odkazy na tie<br />
    všeobecne záväzné právne predpisy, ktorými boli nahradené v ich platnom znení.
  </p>
</SidebarLayout>
