---
interface Props {
  title: string
  titleClass?: string
  descriptions?: string[]
  items: string[]
}

const { title = 'Výhody', titleClass, descriptions, items } = Astro.props
---

<div class='row justify-content-md-between py-3 py-md-5 py-xl-8'>
  <h2 class={titleClass}>{title}</h2>

  <div class='col-md-5'>
    {descriptions && descriptions.map((text) => <p class='' set:html={text} />)}
  </div>
  <div class='col-md-6 ps-md-0'>
    <ul class='list-group list-group-flush' data-aos='fade-up' data-aos-duration='1500'>
      {
        items.map((item) => (
          <li
            class='list-group-item py-1 text-primary'
            set:html={item}
            data-aos='fade-up'
            data-aos-duration='1500'
          />
        ))
      }
    </ul>
  </div>
</div>

<style>
  /* .list-group-flush:first-child {
    border-top: 1px solid var(--bs-border-color);
  }

  .list-group-flush:last-child {
    border-bottom: 1px solid var(--bs-border-color);
  } */
  .list-group .list-group-item:first-child {
    padding-top: 0 !important;
  }

  .list-group .list-group-item:last-child {
    padding-bottom: 0 !important;
  }
</style>
