---
interface Props {
  title: string;
  descriptions?: string[];
  items: string[];
}

const { title = 'Výhody', descriptions, items } = Astro.props;
---

<div class='row justify-content-md-between py-3 py-md-5 py-xl-8'>
  <h2>{title}</h2>

  <div class='col-lg-5 text-secondary'>
    {descriptions && descriptions.map((text) => <p class='' set:html={text} />)}

    <p class=''></p>
  </div>
  <div class='col-lg-6'>
    <ul class='list-group list-group-flush'>
      {items.map((item) => <li class='list-group-item py-1' set:html={item} />)}
    </ul>
  </div>
</div>

<style>
  /* .list-group-flush:first-child {
    border-top: 1px solid var(--bs-border-color);
  }

  .list-group-flush:last-child {
    border-bottom: 1px solid var(--bs-border-color);
  } */
  .list-group .list-group-item:first-child {
    padding-top: 0 !important;
  }

  .list-group .list-group-item:last-child {
    padding-bottom: 0 !important;
  }
</style>
