<footer class='bg-light py-4 py-md-5 mt-5'>
  <div class='container-fluid'>
    <div class='row justify-content-between'>
      <div class='col-md-3'>
        <h4 class=''>Contact us</h4>
        <form action='#' class='form contact-form d-flex flex-column gap-1'>
          <div class='input-group'>
            <input
              type='text'
              class='form-control form-control-sm rounded-0 fw-light'
              placeholder='Name'
            />
          </div>
          <div class='input-group'>
            <input
              type='text'
              class='form-control form-control-sm rounded-0 fw-light'
              placeholder='Email'
            />
          </div>
          <div class='input-group'>
            <input
              type='text'
              class='form-control form-control-sm rounded-0 fw-light'
              placeholder='Subject'
            />
          </div>
          <div class='input-group'>
            <textarea
              name=''
              id=''
              rows='3'
              class='form-control form-control-sm rounded-0 fw-light'
              placeholder='Message'></textarea>
          </div>
          <div class='input-group'>
            <button type='submit' class='btn btn-dark submit px-3 rounded-0'>Send</button>
          </div>
        </form>
      </div>

      <div class='col-md-2 d-flex flex-column justify-content-end text-end'>
        <ul
          class='d-flex flex-column list-unstyled mb-0 fw-lighter text-secondary font-monospace small'
        >
          <li>SALVIS, s.r.o.</li>
          <li>Karadžičova 16</li>
          <li>Bratislava</li>
          <li class='mb-3'>821 08</li>
          <li>+421 911 969 333</li>
          <li>info@salvis.sk</li>
        </ul>
      </div>
    </div>

    <div class='row mt-md-5 fw-light d-flex d-row justify-content-between border-bottom'>
      <div class='col-md-6'>
        <ul class='nav d-flex flex-row small'>
          <!-- <a href='#' class='nav-link py-1 ps-0 pe-1 d-block link-secondary'>Cookies</a> -->
          <a href='/terms-and-conditions' class='nav-link py-md-1 py-1 ps-0 d-block link-secondary'
            >Terms and Conditions</a
          >
          <a href='/privacy-policy' class='nav-link py-md-1 py-1 ps-0 d-block link-secondary'
            >Privacy Policy</a
          >
          <a href='/cookies-policy' class='nav-link py-md-1 py-1 ps-0 d-block link-secondary'
            >Cookies</a
          >
        </ul>
      </div>
      <div class='col-md-6 text-end'>
        <p class='copyright pt-1 small text-secondary'>
          {new Date().getFullYear()} | SALVIS
        </p>
      </div>
    </div>
  </div>
</footer>
