---
---
    <header class="header-with-topbar">
        <!-- start header top bar -->
        <div class="header-top-bar top-bar-light bg-white md-border-bottom border-color-transparent-dark-very-light">
            <div class="container-fluid">
                <div class="row h-45px align-items-center m-0">
                    <div class="col-md-6 text-center text-md-start">
                        <div class="fs-14 text-dark-gray">Our consulting experts are waiting for you! <a
                                href="/contact"
                                class="text-base-color fw-500 text-decoration-line-bottom">Contact us</a></div>
                    </div>
                    <div class="col-6 text-end d-none d-md-flex">
                        <div class="widget fs-14 me-30px md-me-0"><a href="tel:+421901234567" class="text-dark-gray"><i
                                    class="feather icon-feather-phone-call text-base-color"></i> +421 901 234 567</a>
                        </div>
                        <div class="widget fs-14 text-dark-gray d-none d-lg-inline-block"><i
                                class="feather icon-feather-map-pin text-base-color"></i> Karadzicova 16, Bratislava 821
                            08, Slovakia</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top bar -->
        <!-- start navigation -->
        <nav class="navbar navbar-expand-lg header-light header-transparent fixed-header bg-white">
            <div class="container-fluid">
                <div class="col-auto col-lg-2 me-lg-0 me-auto">
                    <a class="navbar-brand" href="/">
                        <img src="/images/demo-consulting-logo-black.png"
                            data-at2x="/images/demo-consulting-logo-black.png" alt="" class="default-logo">
                        <img src="/images/demo-consulting-logo-black.png"
                            data-at2x="/images/demo-consulting-logo-black.png" alt="" class="alt-logo">
                        <img src="/images/demo-consulting-logo-black.png"
                            data-at2x="/images/demo-consulting-logo-black.png" alt="" class="mobile-logo">

                    </a>
                </div>
                <div class="col-auto col-lg-8 menu-order position-static">
                    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/company" class="nav-link">Company</a>
                            </li>
                            <li class="nav-item dropdown dropdown-with-icon">
                                <a href="/services" class="nav-link">Services</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a href="/service-detail">
                                            <img src="https://via.placeholder.com/130x130" class="w-40px" alt="" />
                                            <div class="submenu-icon-content">
                                                <span>Life Cycle Assesment</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/service-detail">
                                            <img src="https://via.placeholder.com/130x130" class="w-40px" alt="" />
                                            <div class="submenu-icon-content">
                                                <span>Environmental Product Declaration</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/service-detail">
                                            <img src="https://via.placeholder.com/130x130" class="w-40px" alt="" />
                                            <div class="submenu-icon-content">
                                                <span>Carbon Footprint of Product</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="/news" class="nav-link">News</a></li>
                            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto col-lg-2 text-end d-none d-lg-flex">
                    <div class="header-icon">
                        <div class="header-button">
                            <a href="/contact"
                                class="btn btn-rounded btn-dark-gray btn-medium btn-switch-text btn-box-shadow text-transform-none">
                                <span>
                                    <span class="btn-double-text" data-text="Contact Us">Contact Us</span>
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- start push popup -->
        <div class="push-menu push-menu-style-3 p-50px bg-dark-gray">
            <span class="close-menu text-dark-gray bg-white"><i class="fa-solid fa-xmark"></i></span>
            <div class="push-menu-wrapper text-dark-gray" data-scroll-options='{ "theme": "light" }'>
                <div class="w-100">
                    <h4 class="alt-font text-white fw-400 mb-30px d-block w-90 lh-40">Scalable business for <span
                            class="d-inline-block fw-600 border-3 border-bottom border-color-base-color">startups</span>
                    </h4>
                </div>
                <div class="col-12">
                    <ul class="fs-20 ps-0 alt-font">
                        <li class="pt-10px pb-10px w-100"><a class="facebook" href="https://www.facebook.com/"
                                target="_blank"><i
                                    class="fa-brands fa-facebook-f w-30px text-start text-white"></i>Facebook</a></li>
                        <li class="pt-10px pb-10px w-100"><a class="instagram" href="https://www.instagram.com/"
                                target="_blank"><i
                                    class="fa-brands fa-instagram w-30px text-start text-white"></i>Instagram</a></li>
                        <li class="pt-10px pb-10px w-100"><a class="twitter" href="https://twitter.com/"
                                target="_blank"><i
                                    class="fa-brands fa-twitter w-30px text-start text-white"></i>Twitter</a></li>
                        <li class="pt-10px pb-10px w-100"><a class="dribbble" href="https://www.dribbble.com/"
                                target="_blank"><i
                                    class="fa-brands fa-dribbble w-30px text-start text-white"></i>Dribbble</a></li>
                    </ul>
                </div>
                <div class="border-top border-color-transparent-white-light pt-30px w-100">
                    <span class="fs-24 fw-500 text-white"><a href="tel:+421901234567">+421 901 234 567</a></span>
                    <a href="mailto:info@epdclarity.com">info@epdclarity.com</a>
                </div>
            </div>
        </div>
        <!-- end push popup -->
    </header>