---

---

<header class='header-with-topbar'>
  <!-- start navigation -->
  <nav class='bg-white navbar navbar-expand-lg header-light header-transparent fixed-header'>
    <div class='container-fluid'>
      <div class='col-auto col-lg-2 me-lg-0 me-auto'>
        <a class='navbar-brand' href='/' aria-label='Home page'>
          <img
            src='/images/logos/epdclarity.png'
            data-at2x='/images/logos/epdclarity.png'
            alt=''
            class='default-logo'
          />
          <img
            src='/images/logos/epdclarity.png'
            data-at2x='/images/logos/epdclarity.png'
            alt=''
            class='alt-logo'
          />
          <img
            src='/images/logos/epdclarity.png'
            data-at2x='/images/logos/epdclarity.png'
            alt=''
            class='mobile-logo'
          />
        </a>
      </div>
      <div class='col-auto col-lg-8 menu-order position-static'>
        <button
          class='navbar-toggler float-start'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarNav'
          aria-controls='navbarNav'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-line'></span>
          <span class='navbar-toggler-line'></span>
          <span class='navbar-toggler-line'></span>
          <span class='navbar-toggler-line'></span>
        </button>
        <div class='collapse navbar-collapse justify-content-center' id='navbarNav'>
          <ul class='navbar-nav'>
            <li class='nav-item'><a href='/' class='nav-link'>Home</a></li>
            <li class='nav-item'>
              <a href='/company' class='nav-link' data-astro-prefetch>Company</a>
            </li>
            <li class='nav-item dropdown dropdown-with-icon'>
              <a href='/services' class='nav-link' data-astro-prefetch>Services</a>
              <i
                class='fa-solid fa-angle-down dropdown-toggle'
                id='navbarDropdownMenuLink'
                role='button'
                data-bs-toggle='dropdown'
                aria-expanded='false'></i>
              <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                <li>
                  <a href='/service-detail-epd' data-astro-prefetch>
                    <div class='submenu-icon-content'>
                      <span>Environmental Product Declaration</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href='/service-detail-lca' data-astro-prefetch>
                    <div class='submenu-icon-content'>
                      <span>Life Cycle Assesment</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href='/service-detail-cfp' data-astro-prefetch>
                    <div class='submenu-icon-content'>
                      <span>Carbon Footprint of Product</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class='nav-item'><a href='/news' class='nav-link' data-astro-prefetch>News</a></li>
            <li class='nav-item'>
              <a href='/contact' class='nav-link' data-astro-prefetch>Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-auto col-lg-2 text-end d-none d-lg-flex'>
        <div class='header-icon'>
          <div class='header-button'>
            <a
              href='/contact'
              class='btn btn-rounded btn-dark-gray btn-medium btn-switch-text btn-box-shadow text-transform-none'
              data-astro-prefetch
            >
              <span>
                <span class='btn-double-text' data-text='Contact Us'>Contact us</span>
                <span><i class='fa-solid fa-arrow-right'></i></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- start push popup -->
  <!-- <div class='push-menu push-menu-style-3 p-50px bg-dark-gray'>
    <span class='bg-white close-menu text-dark-gray'
      ><i class='fa-solid fa-xmark'></i></span
    >
    <div
      class='push-menu-wrapper text-dark-gray'
      data-scroll-options='{ "theme": "light" }'
    >
      <div class='w-100'>
        <h4 class='text-white alt-font fw-400 mb-30px d-block w-90 lh-40'>
          Scalable business for <span
            class='d-inline-block fw-600 border-3 border-bottom border-color-base-color'
            >startups</span
          >
        </h4>
      </div>
      <div class='col-12'>
        <ul class='fs-20 ps-0 alt-font'>
          <li class='pt-10px pb-10px w-100'>
            <a class='facebook' href='https://www.facebook.com/' target='_blank'
              ><i class='text-white fa-brands fa-facebook-f w-30px text-start'
              ></i>Facebook</a
            >
          </li>
          <li class='pt-10px pb-10px w-100'>
            <a
              class='instagram'
              href='https://www.instagram.com/'
              target='_blank'
              ><i class='text-white fa-brands fa-instagram w-30px text-start'
              ></i>Instagram</a
            >
          </li>
          <li class='pt-10px pb-10px w-100'>
            <a class='twitter' href='https://twitter.com/' target='_blank'
              ><i class='text-white fa-brands fa-twitter w-30px text-start'
              ></i>Twitter</a
            >
          </li>
          <li class='pt-10px pb-10px w-100'>
            <a class='dribbble' href='https://www.dribbble.com/' target='_blank'
              ><i class='text-white fa-brands fa-dribbble w-30px text-start'
              ></i>Dribbble</a
            >
          </li>
        </ul>
      </div>
      <div
        class='border-top border-color-transparent-white-light pt-30px w-100'
      >
        <span class='text-white fs-24 fw-500'>
          <a href='tel:+421901234567'>+421 901 234 567</a>
        </span>
        <a href='mailto:info@epdclarity.com'>info@epdclarity.com</a>
      </div>
    </div>
  </div> -->
  <!-- end push popup -->
</header>
