---

---

<div class='row'>
  <div class='col-md-6 d-flex flex-column'>
    <!-- <span class='content-subtitle d-block'>Our services</span> -->
    <h1 class='fw-bold display-5'>Poradenstvo a certifikácia BREEAM, LEED, ESG a EÚ&nbsp;Taxonómia</h1>
    <h3 class='fw-light'>Zdravšie, udržateľnejšie a ziskovejšie stavby<br /><span class='text-primary fw-light'>Viac ako 10 rokov skúseností</span></h3>

    <div class='mt-4'>
      <a href='#' class='btn btn-dark rounded-0 me-2'>Projekty</a>
      <a href='#' class='btn btn-dark rounded-0'>Kontakt</a>
    </div>
  </div>
  <!-- <div class='col-md-6 col-lg-5 ps-lg-5 d-flex flex-column justify-content-end'>
      <div class='row'>
        <div class='col-6 col-sm-6 col-md-6 col-lg-6'>
          <div class='services-item aos-init aos-animate' data-aos='fade-up' data-aos-delay=''>
            <div>
              <h2>LEED</h2>
              <p class=''>Separated they live in Bookmarksgrove right at the coast</p>
            </div>
          </div>
        </div>
        <div class='col-6 col-sm-6 col-md-6 col-lg-6'>
          <div class='services-item aos-init aos-animate' data-aos='fade-up' data-aos-delay='100'>
            <div>
              <h2>BREEAM</h2>
              <p class=''>Separated they live in Bookmarksgrove right at the coast</p>
            </div>
          </div>
        </div>
        <div class='col-6 col-sm-6 col-md-6 col-lg-6'>
          <div class='services-item aos-init aos-animate' data-aos='fade-up' data-aos-delay='200'>
            <div>
              <h2>ESG</h2>
              <p class=''>Separated they live in Bookmarksgrove right at the coast</p>
            </div>
          </div>
        </div>

        <div class='col-6 col-sm-6 col-md-6 col-lg-6'>
          <div class='services-item aos-init aos-animate' data-aos='fade-up' data-aos-delay='300'>
            <div>
              <h2>EU TAXONOMY</h2>
              <p class=''>Separated they live in Bookmarksgrove right at the coast</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <div class='col-md-6 text-end'>
    <!-- <span class='content-subtitle'>Our latest project</span> -->
    <!-- <img src='https://salvis.sk/wp-content/uploads/2024/04/VGP-Bratislava-2-3-600x600.png' class='img-fluid flex-grow-1 object-fit-cover h-100 mb-3' alt='placeholder image' /> -->
    <h3 class='text-end fw-light'>Akreditácie</h3>
    <ul class='list-unstyled fst-italic text-secondary'>
      <li>LEED AP BD+C</li>
      <li>LEED Green Associate</li>
      <li>BREEAM International Assessor</li>
      <li>BREEAM AP</li>
      <li>BREEAM In Use Assessor</li>
      <li>WELL AP</li>
      <li>DGNB Certified Consultant</li>
      <li>Fitwel Ambassador</li>
      <li>Certified Passive House Designer & Consultant</li>
      <li>Autorizovaný stavebný inžinier – stavebná fyzika</li>
    </ul>
  </div>
</div>

<style>
  .services-item .services-icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }
</style>
