---
const pathname = Astro.url.pathname.replace(/\/+$/, '') || '/'

const isPath = (href: string) => {
  const clean = href.replace(/\/+$/, '')
  return pathname === clean || pathname.startsWith(`${clean}/`)
}

const serviceHrefs = [
  '/breeam-new-construction',
  '/breeam-for-logistics-warehouses',
  '/breeam-in-use',
  '/leed-building-design-construction',
  '/leed-operations-maintenance',
  '/decarbonisation-of-existing-buildings',
  '/environmental-product-declaration',
  '/eu-taxonomy',
  '/building-simulations'
]

const serviceActive = serviceHrefs.some(isPath)
---

<nav class='navbar navbar-expand-lg bg-white fixed-top'>
  <div class='container-fluid'>
    <a class='navbar-brand fw-bold' href='/'>
      <img
        src='/logos/logo_salvis.svg'
        alt='Site Logo'
        height='24'
        class='d-inline-block align-text-top'
      />
    </a>

    <button
      class='navbar-toggler border-0 rounded-0'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse justify-content-end' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        <li class='nav-item dropdown'>
          <a
            class={`nav-link dropdown-toggle ${serviceActive ? 'active' : 'link-dark'}`}
            href='#'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Services
          </a>
          <ul class='dropdown-menu rounded-0 shadow'>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/breeam-new-construction') ? 'active' : 'link-dark'}`}
                href='/services/breeam-new-construction/'>BREEAM NC</a
              >
            </li>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/breeam-in-use') ? 'active' : 'link-dark'}`}
                href='/services/breeam-in-use/'>BREEAM In-Use</a
              >
            </li>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/breeam-for-logistics-warehouses') ? 'active' : 'link-dark'}`}
                href='/services/breeam-for-logistics-warehouses/'>BREEAM for logistics warehouses</a
              >
            </li>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/leed-building-design-construction') ? 'active' : 'link-dark'}`}
                href='/services/leed-building-design-construction/'>LEED BD+C</a
              >
            </li>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/leed-operations-maintenance') ? 'active' : 'link-dark'}`}
                href='/services/leed-operations-maintenance/'>LEED O+M</a
              >
            </li>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/eu-taxonomy') ? 'active' : 'link-dark'}`}
                href='/services/eu-taxonomy/'>EU Taxonomy</a
              >
            </li>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/decarbonisation-of-existing-buildings') ? 'active' : 'link-dark'}`}
                href='/services/decarbonisation-of-existing-buildings/'
                >Decarbonisation of existing buildings</a
              >
            </li>
            <li class='border-bottom'>
              <a
                class={`dropdown-item ${isPath('/services/building-simulations') ? 'active' : 'link-dark'}`}
                href='/services/building-simulations/'>Building simulations</a
              >
            </li>
            <li>
              <a
                class={`dropdown-item ${isPath('/services/environmental-product-declaration') ? 'active' : 'link-dark'}`}
                href='/services/environmental-product-declaration/'>EPD</a
              >
            </li>
          </ul>
        </li>
        <li class='nav-item'>
          <a class={`nav-link ${isPath('/projects') ? 'active' : 'link-dark'}`} href='/projects/'
            >Projects</a
          >
        </li>
        <li class='nav-item'>
          <a class={`nav-link ${isPath('/careers') ? 'active' : 'link-dark'}`} href='/careers/'
            >Careers</a
          >
        </li>
        <li class='nav-item'>
          <a class={`nav-link ${isPath('/contact') ? 'active' : 'link-dark'}`} href='/contact/'
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar {
    --bs-navbar-active-color: var(--bs-link-color);
  }

  .navbar-brand {
    padding-left: 2px;
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-toggler-icon {
    color: #000;
  }

  .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  .dropdown-menu[data-bs-popper] {
    left: -15px;
    padding-block: 0;
  }

  .dropdown-menu .dropdown-item.active {
    background: transparent;
    color: var(--bs-link-color);
  }

  .navbar .dropdown-menu > li:first-child > .dropdown-item {
    padding-top: 8px;
  }
  .navbar .dropdown-menu > li:last-child > .dropdown-item {
    padding-bottom: 8px;
  }

  .dropdown-item {
    transition: background-color 0.25s ease;
  }
  .dropdown-item:hover {
    background-color: var(--bs-light);
  }
</style>
