---
interface Props {
  items: string[]
}

const { items } = Astro.props
---

<div class='justify-content-md-between pb-3 pb-md-4'>
  <ul class='list-group list-group-flush'>
    {items.map((item) => <li class='list-group-item py-1' set:html={item} />)}
  </ul>
</div>

<style>
  .list-group-flush:first-child {
    border-top: 1px solid var(--bs-border-color);
  }

  .list-group-flush:last-child {
    border-bottom: 1px solid var(--bs-border-color);
  }
  /* .list-group .list-group-item:first-child {
    padding-top: 0 !important;
  }

  .list-group .list-group-item:last-child {
    padding-bottom: 0 !important;
  } */
</style>
