---
import { Image } from 'astro:assets'

interface Props {
  title: string
  descriptions: string[]
  flavorText: string
  image: {
    src: ImageMetadata
    alt: string
  }
}

const { title, descriptions, flavorText, image } = Astro.props
---

<div class='row justify-content-md-between'>
  <h1 class='text-primary'>{title}</h1>
  <div class='col-md-5 d-flex flex-column'>
    {descriptions.map((text) => <p class='' set:html={text} />)}
  </div>
  <div class='col-md-6 ps-md-0'>
    <div class='ratio ratio-1x1'>
      <Image
        src={image.src}
        alt={image.alt || 'Title image for the service'}
        layout='responsive'
        width={1200}
        height={1200}
        class='img-fluid flex-grow-1 object-fit-cover w-100'
        format='webp'
      />
    </div>
    <p class='text-primary fst-italic'>{flavorText}</p>
  </div>
</div>

<style>
  .img-fluid {
    padding-top: 10px;
  }
  .fst-italic {
    padding-top: 8px;
  }
</style>
