<div class='row justify-content-md-center py-3 py-md-5'>
  <div class='col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6'>
    <h2 class='mb-4 display-5 text-center'>Služby</h2>
    <h3 class='text-secondary mb-5 text-center fw-light'>
      Poskytujeme komplexné služby v oblasti trvaj udržateľnosti pre nové aj existujúce budovy
    </h3>
    <hr class='w-50 mx-auto mb-5 mb-xl-9 border-light-subtle' />
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <img
      src='https://salvis.sk/wp-content/uploads/2024/04/VGP-Bratislava-2-3-600x600.png'
      class='img-fluid flex-grow-1 object-fit-cover w-100 mb-3'
      alt='placeholder image'
    />
    <div class='d-grid'>
      <button class='btn btn-dark rounded-0' type='button'>BREEAM pre logistické haly</button>
    </div>
  </div>
  <div class='col-md-6'>
    <img
      src='https://salvis.sk/wp-content/uploads/2022/01/esg_buildings_cover-scaled-600x600.jpg'
      class='img-fluid flex-grow-1 object-fit-cover w-100 mb-3'
      alt='placeholder image'
    />
    <div class='d-grid'>
      <button class='btn btn-dark rounded-0' type='button'>ESG audit budov</button>
    </div>
  </div>
</div>
<div class='row mt-5'>
  <div class='col-md-3'>
    <img
      src='https://salvis.sk/wp-content/uploads/2020/04/POSTOVA-Offices-1-600x600.jpg'
      class='img-fluid flex-grow-1 object-fit-cover w-100 mb-3'
      alt='placeholder image'
    />
    <div class='d-grid'>
      <button class='btn btn-dark rounded-0' type='button'>LEED</button>
    </div>
  </div>
  <div class='col-md-3'>
    <img
      src='https://salvis.sk/wp-content/uploads/2019/01/Klingerka_2-600x600.jpg'
      class='img-fluid flex-grow-1 object-fit-cover w-100 mb-3'
      alt='placeholder image'
    />
    <div class='d-grid'>
      <button class='btn btn-dark rounded-0' type='button'>BREEAM</button>
    </div>
  </div>
  <div class='col-md-3'>
    <img
      src='https://salvis.sk/wp-content/uploads/2018/12/pexels-photo-496415-600x600.jpeg'
      class='img-fluid flex-grow-1 object-fit-cover w-100 mb-3'
      alt='placeholder image'
    />
    <div class='d-grid'>
      <button class='btn btn-dark rounded-0' type='button'>EPD</button>
    </div>
  </div>
  <div class='col-md-3'>
    <img
      src='https://salvis.sk/wp-content/uploads/2022/01/solar_panels-scaled-600x600.jpg'
      class='img-fluid flex-grow-1 object-fit-cover w-100 mb-3'
      alt='placeholder image'
    />
    <div class='d-grid'>
      <button class='btn btn-dark rounded-0' type='button'>Simulácie budov</button>
    </div>
  </div>
</div>
