---
import { Image } from 'astro:assets'

interface Props {
  title?: string
  descriptions?: string[]
  items: { src: ImageMetadata; alt: string; title: string; link?: string }[]
}

const { title = 'Ukážka projektov', descriptions, items } = Astro.props
---

<div class='row justify-content-md-between py-3 py-md-5'>
  <h2>{title}</h2>
  <div class='col-lg-5 text-secondary'>
    {descriptions && descriptions.map((text) => <p class='' set:html={text} />)}

    <p class=''></p>
  </div>
  <!-- TODO: CHAGE THIS PART TO CARDS (MAYBE CARD-GRID) AND USE LIST GROUP FOR DESCRIPTIONS OF THE PROJECT -->
  <div class='col-lg-6'>
    <div class='row g-1'>
      {
        items.map((item) => (
          <div class='col-6'>
            <Image src={item.src} alt={item.alt} class='img-fluid h-100' />
          </div>
        ))
      }
    </div>
  </div>
</div>
