---
interface Props {
  title?: string
  descriptions?: string[]
}

const { title, descriptions } = Astro.props
---

<div class='row justify-content-md-between py-3 py-md-5'>
  <h2>{title}</h2>

  <div class='col-lg-5 text-secondary'>
    {descriptions && descriptions.map((text) => <p class='' set:html={text} />)}
    <p class=''></p>
  </div>
  <div class='col-md-6'>
    {
      Array.from({ length: 20 }).map((_, i) => (
        <figure class='figure'>
          <img
            src='https://placehold.co/800x800'
            class='figure-img img-fluid'
            alt={`Image ${i + 1}`}
          />
          <figcaption class='figure-caption'>A caption for image {i + 1}</figcaption>
        </figure>
      ))
    }
  </div>
</div>
