---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const { title, description } = Astro.props;

// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import '../styles/vendors.min.css';
import '../styles/icon.min.css';
import '../styles/style.css';
import '../styles/responsive.css';
import '../styles/consulting.css';
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description}/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="EPD Clarity">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>©</text></svg>">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script is:inline src='https://unpkg.com/@botpoison/browser' async></script>
  </head>
  <body data-mobile-nav-style="classic">
    <Header />
    <slot />
    <Footer />
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
      <a href="#" class="scroll-top" aria-label="scroll">
          <span class="scroll-text">Top</span><span class="scroll-line"><span class="scroll-point"></span></span>
      </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <script is:inline type="text/javascript" src="/scripts/jquery.js"></script>
    <script is:inline type="text/javascript" src="/scripts/vendors.min.js"></script>
    <script is:inline type="text/javascript" src="/scripts/main.js"></script>

  </body>
</html>