---
import '../styles/bootstrap.scss'
import Navbar from '../components/Navbar.astro'
import Sidebar from '../components/Sidebar.astro'
import Footer from '../components/Footer.astro'
import BaseHead from './BaseHead.astro'

interface Props {
  type?: 'general'
  title: string
  description: string
  heroImage?: ImageMetadata
  noindex?: boolean // you need to opt-in to no indexing, as it hides the page from search engines
}

// TODO: set noindex default value to false when ready
const { type = 'general', title, description, heroImage, noindex = true } = Astro.props as Props
---

<!doctype html>
<html lang='en' data-bs-theme='light' class=''>
  <head>
    <BaseHead
      type={type}
      title={title}
      description={description}
      image={heroImage ? heroImage : undefined}
      noindex={noindex}
    />
  </head>
  <body>
    <Navbar />
    <main>
      <div class='container-fluid'>
        <div class='row'>
          <div class='d-none d-lg-flex col-lg-3'>
            <Sidebar />
          </div>
          <div class='col-lg-9'>
            <slot />
          </div>
        </div>
      </div>
    </main>
    <Footer />
    <script>
      // Import everything
      // import 'bootstrap/dist/js/bootstrap';

      //or

      // Import only what you need
      // import 'bootstrap/js/dist/alert';
      import 'bootstrap/js/dist/button'
      import 'bootstrap/js/dist/carousel'
      import 'bootstrap/js/dist/collapse'
      import 'bootstrap/js/dist/dropdown'
      // import 'bootstrap/js/dist/modal';
      // import 'bootstrap/js/dist/offcanvas';
      // import 'bootstrap/js/dist/popover';
      // import 'bootstrap/js/dist/scrollspy';
      // import 'bootstrap/js/dist/tab';
      // import 'bootstrap/js/dist/toast';
      // import 'bootstrap/js/dist/tooltip';
    </script>
    <!-- AOS JS -->
    <script src='https://unpkg.com/aos@2.3.1/dist/aos.js' is:inline></script>
    <script is:inline>
      AOS.init({})
    </script>
  </body>
</html>
